/*****************Gallery Shortcode**********/
.gallery dl.gallery-item{
    margin: 0 !important;
    width: auto !important;
}
.gallery .gallery-item img{
    margin: 0 10px 10px 0;
    display: inline-block;
    width: 72px;
    height: 77px;
    border-radius: 100%;
}

/***********Title block************/
.title.tblock:before{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -10px;
	height: 1px;
	width: 100%;
	left: 0;
	z-index: -1;
	border-bottom: 1px solid #d7d7d7;
}
.title.tblock{
    padding: 20px 15px 40px;
    position: relative;
    left: 0;
    line-height: normal;
}
.title.tblock span{
    background: #fff;
    z-index: 1;
    padding: 10px 15px;
}
/*************button*******/
.btn .icon-left{margin-right: 5px;}
.btn .icon-right{margin-left: 5px;}

/*****tabs***/
.tab-default .nav{margin: 0; text-align: center;}
.tab-default .tab-content{border: 1px solid #d7d7d7; padding: 20px;}
.tab-default .nav-tabs>li>a {
    color: #323232;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 4px 4px 0 0;
    margin-right: -1px;
    margin-bottom: -1px;
    background: #f5f5f5;
    border: 1px solid #d7d7d7;
    border-bottom: 1px solid #f5f5f5;
}
.tab-default .nav-tabs>li.active>a{
    color: #fff;
    background: #eb2c33;
    border: 1px solid transparent;
}
/************LIST*******/
ul.divider.list-unstyled li:before, ul.divider.unorder li:before{content: none;}
ol.divider li{
    line-height: 40px;
    border-bottom: 1px dashed #d7d7d7;
    position: relative;
}
ol.divider li:last-child {
border-bottom: 0;
}
ol.divider li a, ul.list-unstyled li a, ul.unorder li a, ul.circle li a {
    color: #323232; 
}
ol.divider li a:hover, ul.list-unstyled li a:hover, ul.unorder li a:hover, ul.circle li a:hover {
    color: #eb2c33;
}
ul.divider li a {
    padding-left: 0;
}
/***********Contact details**********/
ul.contact-list{
    list-style: none;
    padding-left: 0;
}
.contact-list li{
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}
.contact-list li i{
    font-size: 14px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #eb2c33;
    color: #fff;
    border-radius: 100%;
    margin-right: 10px;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
    -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
}
/************SOCIAL ICONS********/
ul.social-icons{list-style: none; padding-left: 0;}
ul.social-icons li {
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #eb2c33;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 0 3px rgba(1, 1, 1, .3);
    -moz-box-shadow: 0 0 0 3px rgba(1, 1, 1, .3);
    box-shadow: 0 0 0 3px rgba(1, 1, 1, .3);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
ul.social-icons li:hover{
    background: #fff;
}
ul.social-icons li:hover a{
   color: #eb2c33;
}
ul.social-icons li a {
    color: #fff;
}
/*************modal****************/
.modal{
    top: 30%;
}
/***********Slider***********/
.page-slider-wrapper .bx-viewport>ul{margin: 0; padding: 0;}
.page-slider-wrapper .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{width: 100%; text-align: center;}
.page-slider-wrapper .bx-wrapper .bx-caption{
    background: none !important;
    bottom: 50px !important;
    left: 40px !important;
    width: auto !important;
}
/*******featured block*******/
.service-content.fdivider:after{
	content: "";
	background: #eb2c33;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	margin-top: -58px;
	left: 274px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	z-index: 3;
}
.service-content.fdivider:before{
	content: '';
	background: #ccc;
	position: absolute;
	top: 50%;
	margin-top: -55px;
	width: 100%;
	left: 74px;
	height: 1px;
	z-index: 0;

}
.featured2{position: relative;}
.featured2.fdivider:before{
	content: '';
	width: 1px;
	top: 0;
	bottom: 0;
	height: 100%;
	background: #d7d7d7;
	position: absolute;
	left: -50px;
	z-index: 1;
}
.featured2.fdivider:after{
	content: "";
	background: #eb2c33;
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: 0;
	left: -53.5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	z-index: 3;
}
.featured2.fdivider .feature-box:before{
	content: "";
	background: #eb2c33;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 0;
	left: -53.5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	z-index: 3;
}
/**********portfolio Listing*****************/
.portshort  .thumbnail:hover .caption{
    top: 0% !important;
}
.portshort .owl-item .item{padding: 0 15px}
.portshort .owl-controls{
    text-align: center;
    padding-top: 25px;
}
/**********blog listing*******/
bloglisting .media.recent-post .full-video, .media.recent-post .page-slider-wrapper .bx-viewport, .media.recent-post .page-slider-wrapper .bx-viewport img{
    height: 186px;
    width: 100%;
}
/************Google map******/
.gm-shortcode>div{width: 100% !important;}

/**************Parallax**********/
.parallax-wrapper{
    background-position: 50% 50%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover !important; /* For WebKit*/
    -moz-background-size: cover !important;    /* Mozilla*/
    -o-background-size: cover !important;      /* Opera*/
    background-size: cover !important;         /* Generic*/
}
.fullsize.fullsize-background{
     background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover !important; /* For WebKit*/
    -moz-background-size: cover !important;    /* Mozilla*/
    -o-background-size: cover !important;      /* Opera*/
    background-size: cover !important;         /* Generic*/
}
.fullsize {color: inherit; width:100% ;}
.fullsize-background {border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;}
.fullsize-background.notopborder{border-top:none}
.fullsize-background.nobottomborder{border-bottom:none}
.padding-none { padding:0 !important;}
.padding-xsmall { padding:5px 0 !important;}
.padding-small { padding:15px 0 !important;}
.padding-medium{ padding:30px 0 !important;}
.padding-large { padding: 60px 0 !important;}
.mb_YTVPlayer{display:block !Important}
/**************pricing Table**********/
.plan a.btn.btn-primary{background: #4b4b4b; border-bottom: 4px solid #353434;}
.plan a.btn.btn-primary:hover{background: #000;}
.plan.featured a.btn.btn-primary{background: #eb2c33;border-bottom: 4px solid #C70606;}
.plan.featured a.btn.btn-primary:hover{background: #F64444 !important;border-bottom: 4px solid #C70606;}

/*************Accordion**********/
.wpb_accordion_section.group{
    margin-top: 5px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.wpb_accordion_section.group:first-child{margin-top: 0}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header{
    border-bottom: 0;
    background: #f2f2f2;
    border-color: #cfcfcf;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
	
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:focus{outline: none;}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a{
    color: #989898;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding: 15px;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active a,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header:hover a{
	color: #eb2c33;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-accordion-header-active a:after{
    content: "\f068";
    font-family: FontAwesome;
    background: #eb2c33;
    color: #fff;
    font-size: 14px;
    right: 20px;
    position: absolute;
    z-index: 111;
    width: 28px;
    height: 28px;
    line-height: 30px;
    border-radius: 100%;
    text-align: center;
    -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
    -moz-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
    box-shadow: 0 0 0 5px rgba(0,0,0,.07);
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a:after{
    content: "\f067";
    font-family: FontAwesome;
    background: #afafaf;
    color: #fff;
    font-size: 14px;
    right: 20px;
    position: absolute;
    z-index: 111;
    width: 28px;
    height: 28px;
    line-height: 30px;
    border-radius: 100%;
    text-align: center;
    -webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
    -moz-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
    box-shadow: 0 0 0 5px rgba(0,0,0,.07);
 }
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon,
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon{
	display:  none !important;
} 
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content{
	border-top: 1px solid #ddd;
	padding: 15px;
}

/******************vertical navigation**********/
.vernav ul li{
    border: 1px solid #e7e7e7;
    margin-bottom: 1px;
}
.vernav li a{
    border-radius: 3px;
    font-weight: 500;
    color: #000;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    position: relative;
    display: block;
    padding: 10px 15px;
}
.vernav li a:hover, .sidebar .widget_nav_menu li.current-menu-item a{
    color: #eb2c33;
}
.vernav li.nav-header{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
/******************************************************/
.color-white{color: #fff;}
.testimonial-slide .testimonial-content h3 span.color-white{color: #fff;}
/*********************************************/
.parallax-wrapper-inner .vc_row{margin: 0 auto}
.wpb_wrapper .contact-info{left: 420px;}

.testimonial-slide .owl-controls{display: none;}