﻿/***********************************************

Description: Main styles for theme's admin panel
Version: 1.0
Author: Weblusive

************************************************/

.admin-panel {
	width: 940px;
	max-width:100%;
	margin: 40px 10px;
	direction: ltr;
	text-align: left;
	padding: 30px;
	background: url(images/bg.jpg) fixed;
}

.admin-panel * {
	padding: 0;
	margin: 0;
}

.clear {
	clear: both;
}

.top-nav {margin-bottom:20px}

.logo {
	width: 30%;
	float: left;
	margin: 0
}
.gmap-warning a {
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}

.admin-panel-head {
	height: 100px;
	overflow: hidden;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #FFF;
	display: none;
}

.admin-panel-content h2 {
	margin-bottom: 20px;
	font-size: 22px;
	padding-bottom: 0px;
	float: left;
	text-transform: uppercase;
	padding: 20px 0 20px 0;
	color: #333;

}

.admin-panel-head .left-block {
	float: left;
	padding: 20px;
	text-align: center;
}

.mpanel-submit {
	float: right;
	margin-right: 2px
}

.mpanel-reset {
	float: left;
}

input.mpanel-save,
input.mpanel-reset-button,
a.mpanel-reset-button {
	padding: 14px 22px;
	text-align: center;
	text-decoration: none;
	clear: both;
	cursor: pointer;
	font-weight: bold;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	outline: none! important;
	background: #8BC34A;
	color: #fff;
	box-shadow: 4px 4px 4px rgba(0,1,2,0.1);
	border: none;

}

a.mpanel-reset-button {
	background: #d54e21;
	color: #fff
}

.weblusive-reset {
	position: absolute;
	bottom: 11px
}

input.mpanel-save:hover,
input.mpanel-reset-button:hover {
	box-shadow: 4px 4px 4px rgba(0,1,2,0.3);
}

input.mpanel-save:active,
input.mpanel-reset-button:active {
	margin-top: 2px;
}

input.mpanel-reset-button {
	background: red;
}

input.mpanel-reset-button:hover {
	background: #333;
}

.small_button {
	margin-left: 5px;
	background: url(images/upload-btn.png);
	width: 120px;
	height: 43px;
	cursor: pointer;
	color: #fff;
	padding: 12px;
	border: none!important;
	text-indent: 2000px;
}
.logo img {max-width:100%}
#_weblusive_gmap-item,
#_weblusive_gmap,
#_weblusive_cusimage-item,
#_weblusive_cusimage,
#_weblusive_promotext,
#_weblusive_promotext-item,
#_weblusive_revslider-item,
#_weblusive_revslider,
#_weblusive_youtube-item,
#_weblusive_youtube,
#_weblusive_vimeo-item,
#_weblusive_vimeo {
	display: none;
}

#upload_image_button:hover {
	border-color: #999;
	color: #464646;
}

.extra-text {
	display: block;
	clear: both;
	padding: 4px 0 0 205px;
}

.admin-panel-tabs {
	width: 220px;
	float: left;
	padding-bottom: 25px;
}

.admin-panel-tabs ul {}

.admin-panel-tabs li {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	list-style: none;
}
.admin-panel-tabs li:first-child {border-top:none}
.admin-panel-tabs li a {
	box-shadow: none;
	padding: 25px 10px;
	padding-left: 22px;
	display: block;
	text-shadow: 0 1px 1px #333;
	color: #fff;
	cursor: pointer;
	border: 0;
	outline: none;
	text-decoration: none;
	-webkit-transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
	-moz-transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
	-o-transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
	transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
	font-size: 14px;
	background: rgba(255, 255, 255, 0.1);
}
.admin-panel-tabs li a span {margin-right:6px}

.admin-panel-tabs li.active a, .admin-panel-tabs li.active a:hover  {
	color: #333;
	background-color: rgba(255, 255, 255, 0.9);
	text-shadow:none
}

.admin-panel-tabs li.active {
	position: relative;
	width: 221px;
	border: 0 none;
}

.admin-panel-tabs li a:hover {
	background: rgba(0, 0, 0, 0.1);
}


.admin-panel-content {
	background: rgba(255, 255, 255, 0.9);
	padding: 27px;
	float: right;
	width: 665px;
	min-height: 700px;
	position: relative;
	padding-bottom: 85px;
	overflow: hidden;
	border-top: 1px solid #e2e2e2;
}

.admin-panel-content.full-content {
	float: none;
	width: auto
}

.admin-panel-content.full-content h2 {
	float: none
}

div.option-item input[type=text],
div.option-item textarea,
#pricing-table input[type=text] {
	background: #fff url(images/input-bg.png) repeat-x top;
	padding: 11px;
	width: 250px;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}

div.option-item input[type=text]:focus,
div.option-item textarea:focus {
	border: solid 1px #c2c2c2;
}

div.option-item select,
#pricing-table select {
	background: #fff url(images/input-bg.png) repeat-x top;
	padding: 4px 5px;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
	width: 250px;
	height: 27px;
}

.admin-panel-content p {
	margin: 0;
	padding: 10px 0;
	clear: both;
}

div.option-item {
	clear: both;
	padding: 20px 26px;
	overflow: hidden;
	background: url(images/sep.png) repeat-x bottom;
	position: relative;
}

div.option-item:last-child {
	background: transparent;
}

.weblusivepanel-item .label {
	width: 205px;
	display: inline-block;
	float: left;
	padding-top: 4px;
	font-size: 11pt;
}

.tags-list {
	padding-right: 250px;
	display: none;
}

.weblusivepanel-item .mo-help {
	background: url(images/help.png) no-repeat top;
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: help;
	position: absolute;
	top: 23px;
	right: 20px;
}

#theme-pattern {
	height: 281px;
	overflow: auto;
}

#theme-pattern img {
	border-color: #cdcdcd;
}

.weblusive-options li {
	float: left;
	margin: 5px 21px;
}

.weblusive-options img {
	background: white;
	padding: 4px;
	margin: 0 0 5px;
	border: solid 1px #ccc;
	outline: none!important;
}

.weblusive-options img:hover {
	background: #aaa !important;
	opacity: 0.5;
	outline: none!important;
}

.weblusive-options .selected img {
	background: #666 !important;
	opacity: 1;
	outline: none!important;
}

.weblusive-options li input {
	display: none;
}

.img-preview {
	margin: 10px 0;
	text-align: left;
	border: 4px solid #e2e2e2;
	float: right;
	clear: both;
	position: relative;
	line-height: 0;
}

.img-preview img {
	max-width: 100%;
}

.img-preview .del-img {
	position: absolute;
	left: -10px;
	bottom: -10px;
	background: url(images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.option-item .wp-editor-wrap {
	width: 98%
}

#cat_sortable li,
#sidebarsList li,
#customList li {
	margin: 5px 0 10px;
	overflow: hidden;
	list-style: none;
}

.ui-state-highlight {
	background-color: #fffdea;
	border: 1px dashed #ffd38c;
	height: 50px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.ui-state-default {
	border: 1px solid #ddd;
}

#cat_sortable .widget-head,
#sidebarsList .widget-head,
#customList .widget-head {
	background-color: #555;
	padding: 7px;
	cursor: move;
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 1px #555;
}

#cat_sortable .widget-content {
	background: #F9F9F9;
	padding: 10px;
	display: none;
	position: relative;
}

#cat_sortable .widget-content label {
	line-height: 25px;
	display: block;
	padding: 5px 0;
}

#cat_sortable .widget-content label span {
	padding-right: 5px;
	width: 200px;
	display: inline-block;
}

#cat_sortable .widget-content textarea {
	width: 482px;
	height: 100px;
}

#sidebarsList,
#customList {
	padding-top: 10px;
}

#sidebarsList li,
#customList li {
	margin: 10px 0 0;
}

#sidebarsList .widget-head,
#customList .widget-head {
	font-weight: bold;
	color: #FFF;
	text-shadow: 0 1px 1px #555;
	border: 1px solid #444;
	position: relative;
	color: #fff;
	background-color: #666;
	padding: 13px;
	padding-left: 17px;
}

#customList .widget-head a {
	color: #FFF;
	text-decoration: none;
}

#customList .widget-head a:hover {
	text-decoration: underline;
}

.del-sidebar,
.del-custom-text {
	position: absolute;
	right: 13px;
	top: 16px;
	background: url(images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

element.style {
	direction: ltr;
	text-laign: left;
}

input#sidebarName {
	width: 245px!important;
}

input#sidebarAdd {
	background: url(images/sidebar-add-btn.png)!important;
	width: 152px;
	height: 43px;
}

.del-cat {
	background: url(images/trash.png) no-repeat top;
	display: block;
	z-index: 99999;
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

a.toggle-open,
a.toggle-close {
	float: right;
	color: #FFF;
	cursor: pointer;
	font-size: 12pt;
	padding: 2px 10px;
}

a.toggle-close {
	display: none;
}

#tabs_cats li {
	list-style: none;
	display: block;
	float: left;
}

#tabs_cats li input {
	display: none;
}

#tabs_cats .ui-state-highlight {
	display: block;
	cursor: pointer;
	width: 162px;
	float: left;
	margin: 0px 15px 15px 0px;
	height: 30px;
}

#tabs_cats li span {
	display: block;
	cursor: pointer;
	width: 132px;
	float: left;
	margin: 0px 15px 15px 0px;
	background: url(images/delete.png) no-repeat left;
	padding: 4px;
	padding-left: 30px;
}

.images-prev img {width:100px; height:auto}
#post_options .weblusivepanel-item h3, #page_options .weblusivepanel-item h3{margin-top:0}
#tabs_cats li.selected span {
	background: url(images/yes.png) no-repeat left;
}

.weblusivepanel-item {
	margin: 0 0 20px;
	background: #fff;
	overflow: hidden;
	clear: both;
	position: relative;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) !Important
}

.weblusivepanel-item h3 {
	background: #fafafa;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 18px 26px;
	cursor: pointer;
	font-size: 14px;
	text-transform: uppercase;
	font-size: 15px;
	margin-bottom:0;
}

.ui-slider {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	border: 1px solid #E6E6E6;
	height: .8em;
	position: relative;
	text-align: left;
	width: 230px;
	margin-top: 8px;
	float: left;
	margin-right: 15px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.5em;
	cursor: default;
	background: #33B5E5;
	background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #33B5E5), color-stop(100%, #16a5d7));
	background: -webkit-linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	background: -moz-linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	background: -o-linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	background: -ms-linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	background: linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	font-weight: normal;
	color: #555;
	top: -.5em;
	margin-left: -.6em;
	cursor: pointer;
}


#add-divider {
	margin-right: 0;
}

#cat_sortable li.removered .widget-head,
#sidebarsList li.removered .widget-head,
#customList li.removered .widget-head {
	background: #ff0000;
}

#cat_sortable li.removered .widget-content,
#weblusive-slider-items li.removered .widget-content {
	background: #ffeded;
}

#collapse-all,
#expand-all {
	font-size: 90%;
	float: right;
	margin-left: 10px;
	margin-right: 3px;
	cursor: pointer;
	color: #888;
}

#collapse-all:hover,
#expand-all:hover {
	color: #000;
	text-decoration: underline;
}

#weblusive-slider-items .widget-content {
	background: #fff;
	padding: 10px;
	position: relative;
}

#weblusive-slider-items .widget-content label {
	line-height: 25px;
	display: block;
	padding: 7px 0;
	margin-bottom: 20px;
}

#weblusive-slider-items .widget-content label span {
	padding-right: 5px;
	width: 95px;
	display: inline-block;
}

#weblusive-slider-items .widget-content textarea {
	width: 482px;
	height: 150px;
}

#weblusive-slider-items .widget-content input[type="text"] {
	width: 400px;
}

#weblusive-slider-items li {
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}

#weblusive-slider-items .slider-img {
	display: inline;
	float: right;
	margin: 0;
	margin-right: 5px;
	margin-top: 8px;
	overflow: hidden;
	width: 80px;
	height: 80px;
	border: 2px dotted #e2e2e2;
	z-index: 999;
}

#weblusive-slider-items img {
	height: 150px;
	width: 150px;
	margin: -40px;
}

#weblusive-slider-items .del-cat {
	bottom: 10px;
	top: auto;
}

.weblusive-cats-options li {
	margin-right: 8px !important;
}

.weblusive-cats-options li img {
	width: 100px;
}

#save-alert {
	margin: -40px 0 0 -40px;
	height: 80px;
	width: 80px;
	background: rgba(0, 0, 0, .8) url(images/loading.gif) no-repeat center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: none;
}

.save-done {
	background: rgba(0, 0, 0, .8) url(images/done.png) no-repeat center !important;
}

.save-error {
	background: rgba(0, 0, 0, .8) url(images/error.png) no-repeat center !important;
}

.jquery-checkbox {
	display: inline;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
}

.jquery-checkbox .mark {
	display: inline;
}

.jquery-checkbox img {
	vertical-align: middle;
	width: 80px;
	height: 36px;
}

.jquery-checkbox img {
	background: transparent url(images/checkbox.png) no-repeat;
}

.jquery-checkbox img {
	background-position: 0px bottom;
}

.jquery-checkbox-checked img {
	background-position: 0px 0;
}

a.checkbox-select {
	color: #FFFFFF;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

.color-pic {
	position: relative;
	width: 28px;
	height: 28px;
	float: left;
	margin-right: 5px;
}

.color-pic div {
	background: url(images/select2.png) center;
	position: absolute;
	width: 28px;
	height: 28px;
}

.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}

.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}

.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(images/colorpicker_overlay.png);
}

.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}

.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}

.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}

.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}

.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}

.colorpicker input {
	background-color: transparent !important;
	border: 1px solid transparent !important;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
	width: auto;
}

.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}

.colorpicker_hex input {
	right: 6px;
}

.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}

.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}

.colorpicker_rgb_r {
	background-image: url(images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}

.colorpicker_rgb_g {
	background-image: url(images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}

.colorpicker_rgb_b {
	background-image: url(images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}

.colorpicker_hsb_h {
	background-image: url(images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}

.colorpicker_hsb_s {
	background-image: url(images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}

.colorpicker_hsb_b {
	background-image: url(images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}

.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}

.colorpicker_focus {
	background-position: center;
}

.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}

.colorpicker_slider {
	background-position: bottom;
}

#slider_cat-item,
#slider_posts-item,
#slider_pages-item,
#slider_custom-item,
#weblusive_video_url-item,
#_weblusive_post_slider-item,
#_weblusive_promotext {
	display: none;
}

#weblusive_hide_meta,
#weblusive_hide_author,
#weblusive_hide_share,
#weblusive_hide_related {
	width: 60px;
}

.mo-footer {
	margin: 0 -20px -20px;
	padding: 10px;
	position: absolute;
	bottom: 35px;
	width: 683px;
}

.portfolio-listing li {
	display: inline;
	margin-right: 10px
}

#theme-skins li {
	margin: 5px 13px;
}

#theme-skins img {
	max-width: 250px;
}

input.minimal-textbox.custom-tm {
	width: 40px !important;
	margin-top: 4px
}



.column,
.columns {
	float: left;
	display: inline;
}

.list-table {
	border-collapse: collapse;
	width: 100%;
	border-left: solid 1px #e2e2e2;
	border-bottom: solid 1px #e2e2e2;
}

.list-table th {
	color: #fff;
	text-shadow: #000 1px 0px 0px;
	padding: 8px;
	text-align: left;
	font-weight: bold;
	background: #222;
	border-right: solid 1px #bbb;
}

.list-table td {
	padding: 0.2em;
	color: #111;
	border-right: solid 1px #e2e2e2;
	padding: 10px;
}

.list-table tr td {
	background: #f9f9f9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
}

.list-table tr.alternate td {
	background: #e8e8e8;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#e8e8e8));
	background: -moz-linear-gradient(top, #e3e3e3, #e8e8e8);
}

li.error-image {
	background: url('../img/error.png') no-repeat right top;
}

.wp_themeSkin .mceSeparator {
	border-right: solid 1px #eee;
	border-left: solid 1px #ddd;
	height: 24px;
	margin: 0px 6px;
	display: block !important
}

.admin-panel-content p.info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 8px 10px;
	margin-bottom: 20px
}

p.hint {
	padding-left: 10px;
	background: url('images/help.png') no-repeat left;
	padding-left: 20px;
	margin: 0px 20px 20px 20px;
	border-bottom: dotted 1px #e2e2e2;
	color: #0865a3
}

.font-preview {
	display: inline-block
}

.important i {
	color: #d54e21
}

.important {
	font-weight: bold
}


/*****************************************************/

.column-order {
	cursor: move
}


/* ---------------------------------------------Tooltip------------------------------------------------ */

.right10 {
	margin-right: 10px;
}

.hint-title {
	font-weight: bold;
	border-bottom: solid 1px #e2e2e2;
	padding-bottom: 4px;
}

a.tooltip,
a.tooldown {
	display: inline-block;
}

.tipsy {
	font-size: 11px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}

.tipsy-inner {
	font-size: 13px !Important;
	line-height: 18px;
	background-color: #333;
	color: #FFF;
	max-width: 200px;
	padding: 8px 8px 6px 8px;
	text-align: center;
	box-shadow: 0 0 2px #fff;
	-webkit-box-shadow: 0 0 2px #fff;
	-moz-box-shadow: 0 0 2px #fff;
}

.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #333;
}

.tipsy-arrow-n {
	border-bottom-color: #333;
}

.tipsy-arrow-s {
	border-top-color: #333;
}

.tipsy-arrow-e {
	border-left-color: #333;
}

.tipsy-arrow-w {
	border-right-color: #333;
}

.tipsy-n .tipsy-arrow {
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

#wp_fs_constructionShortcodes {
	background: url('../functions/shortcodes/images/trendy.png') no-repeat 3px 3px !important
}

.message.installer-message {
	background-size: 40px 40px;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, .4);
	border: 1px solid;
	color: #fff;
	padding: 15px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
	animation: animate-bg 5s linear infinite;
}

.message.installer-message {
	margin-left: 10px;
	width: 951px;
	max-width: 100%
}

.installer-block .message.info,
.installer-block .message.warning {
	float: right;
	margin-bottom: 10px
}

.admin-panel-content.installer-content {
	min-height: initial;
	padding-bottom: 0px
}

.message.info {
	background-color: #4ea5cd;
	border-color: #3b8eb5;
}

.message.info,
.message.warning {
	display: inline-block;
	padding: 5px 10px;
}
.message.warning p {color:#fff !Important}
.message.info p,
.message.warning p {
	padding: 3px 0
}

.message.error,
.message.installer-message.error {
	background-color: #de4343;
	border-color: #c43d3d;
}

.warning {
	background-color: #ff9800;
	border-color: #ff7600;
	margin-top: 20px;
	text-shadow: none !Important;
	width: initial !Important;
	margin-left: 0 !Important;
	font-weight: bold
}
.warning.gmap-warning { margin:20px !Important;}
.warning a, .success a, .error a {color:#fff}

.success {
	background-color: #61b832;
	border-color: #55a12c;
}


.message h3 {
	margin: 0 0 5px 0;
	color: #fff;
	font-size: 20px
}

.message h3 a {
	text-decoration: none;
	border-bottom: dotted 1px #ccc;
	color: #fff;
	font-size: 20px
}

.message p {
	margin: 0;
}

.admin-panel-tabs li.err404 span {
	background-position: -509px -11px;
	width: 28px;
	height: 29px;
}

.right-info {
	float: left;
	padding: 10px 0px 0 0;
	width:70%;
	text-align:right
}

.documentation-link {
	background: rgba(255, 255, 255, 0.9);
	box-shadow:4px 4px 4px rgba(0,1,2,0.5);
	padding: 8px 16px;
	font-size: 14px;
	text-decoration: none;
	color: #666;
	font-weight: bold;
	display: inline-block;
	outline: none
}

.documentation-link:hover {
	color: #000;
}

.documentation-link i {
	margin-right: 6px
}

p.special-dropcap {
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px !Important;
	color: #000;
	background: #f8f8f8;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	border-radius: 50%;
	padding: 0;
	margin-right: 10px;
	border: solid 1px #ccc;
}

.weblusivepanel-item.installer-block .label {
	width: 230px;
	line-height: 32px
}

.admin-panel-content p.installation-desc {
	padding: 18px 26px;
	border-bottom: dotted 1px #ccc;
	font-size: 13px;
	font-weight: 600;
}

.admin-panel-content p,
.admin-panel-content li {
	line-height: 22px
}

.installer-block input.mpanel-save {
	padding: 8px 22px
}

.installer-block div.option-item select {
	height: 36px;
	position: relative;
	margin-top: -4px;
}

#nav-trigger {
	display: none;
	text-align: center;
}
#nav-trigger span {
	display: block;
	padding: 10px 30px;
	background-color: #222;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
}

#nav-trigger span:hover {
	background-color: #111;
}

nav#nav-mobile {
	position: relative;
	display: none;
}
nav#nav-mobile ul {
	display: none;
	list-style-type: none;
	position: absolute;
	left: 0;
	right: 0;
	z-index:999;
	margin-left: auto;
	margin-right: auto;
	background:rgba(0,0,0,0.9);
}
#layout-options li:first-child, #header-options  li:first-child, #blog-options li:first-child{margin-left:0}

/******* Responsive Styles *******/
@media screen and (max-width:960px){
	.admin-panel{padding:15px; margin:0; width:auto}
	.admin-panel-tabs {width:auto; float:none}
	.admin-panel-tabs li.active{width:100%}
	.admin-panel-content {width:auto; float:none; min-height:initial; padding-bottom:30px}
	.admin-panel-tabs li a {padding:15px; font-size:13px}
	.mo-footer {position:relative; bottom:0; padding:0; width:auto; margin: 0 -10px 0 0 }
}
@media all and (max-width: 959px) {
	#nav-trigger, nav#nav-mobile {display: block; }
	#wa-nav-main { display: none; }
}
.wpvq-wpvq_notice_addons_1{display:none}
.themeplaza-error {
	padding: 5px 15px;
	border-radius: 4px;
	background: #f2dede;
	color: #a94442;
}
.wp-customizer  .navbar-fixed-top{width:100%; right:0; left:0}