﻿body {
	font-family: sans-serif;
	font-size: 12px;
	padding:0; 
	margin:0
}
label {
	float: left;
	width: 150px;
}
label.inner-label {float:none; width:auto; display:inline; cursor:pointer}
span {
	float: left;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
	border-color: #DFDFDF;
	background-color: white;
}
form {padding:16px}
.forceColors form {margin-bottom:40px}
.forceColors form#dartShortcode{margin-bottom:0}
.forceColors form strong a {border:solid 1px #ccc; padding:4px 6px; margin-top:6px; margin-bottom:6px; background:#eee}
.forceColors form strong a:hover {background:#ddd}
select {
	padding: 2px;
	height: 2em;
	width: 300px;
	font-family: sans-serif;
	font-size: 12px;
}
textarea, input {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	font-family: sans-serif;
	font-size: 12px;
}
input {
	padding: 3px;
	width: 290px;
	font-family: sans-serif;
	font-size: 12px;
}
input[type="checkbox"] {width:20px}
textarea {
	width: 290px;
	height: 100px;
}
hr.divider{border-bottom: 1px dotted #ccc;border-top: 1px solid #fff; border-left:0; border-right:0}

.mce-foot{text-align:right; position:fixed; bottom:0; width:100%; display:block;background-color:#fff;border-top:1px solid #c5c5c5;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px}
a.add {
	padding: 4px 10px;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	overflow: visible;
	-webkit-appearance: none;
	text-decoration:none;
	display:inline-block;
	margin:6px 10px;
	border-radius:3px;
	text-shadow: 1px 1px #333;
	min-width: 50px;
	color: #fff;
	border: 1px solid #b1b1b1;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25) rgba(0,0,0,0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #08c, #04c);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
	background-image: -webkit-linear-gradient(top, #08c, #04c);
	background-image: -o-linear-gradient(top, #08c, #04c);
	background-image: linear-gradient(to bottom, #08c, #04c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	zoom: 1;
}
a.add:hover {

	background-image: -moz-linear-gradient(top, #0077b3, #003cb3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0077b3), to(#003cb3));
	background-image: -webkit-linear-gradient(top, #0077b3, #003cb3);
	background-image: -o-linear-gradient(top, #0077b3, #003cb3);
	background-image: linear-gradient(to bottom, #0077b3, #003cb3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0077b3', endColorstr='#ff003cb3', GradientType=0);
	zoom: 1;
}

.img-preview {
	margin: 10px 0;
	text-align: left;
	border:4px solid #CCC;
	display:inline-block;
	clear:both;
	position:relative;
	line-height:0;
	
}
.img-preview img{
	max-width:200px;
	height:auto;
}
.img-preview  .del-img{ position:absolute;
	left:-10px;
	bottom:-10px;
	background:url(images/delete.png) no-repeat top;
	width:20px;
	height:20px;
	cursor:pointer;
}
.small_button {width:60px}
.shortcode-list {padding-left:0; list-style:none}
.shortcode-list figure {margin:0}
.shortcode-list figcaption {}
.shortcode-list li {float:left; margin:0 10px 10px 0}
.shortcode-list figure img {opacity:0.5}
.shortcode-list a:hover {border-color:#aaa; color:#2ea2cc}
.shortcode-list a {font-size:11px; text-decoration:none; color:#666; border:solid 1px #e1e1e1; background:#fff; padding:4px; text-align:center; display:block !important; width:70px; height:70px;}
.shortcode-list li:nth-child(6n+6) { margin-right:0}

/* ---------------------------------------------
Tooltip
------------------------------------------------ */
a.hint {height:1em; margin-left:6px}
.right10 {margin-right:10px; }
.hint-title {font-weight:bold; border-bottom:solid 1px #ccc; padding-bottom:4px; }	
a.tooltip, a.tooldown{display:inline-block; }
.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner {font-size:12px !Important; line-height:16px; background-color: #333; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0 0 2px #fff; -webkit-box-shadow: 0 0 2px #fff; -moz-box-shadow: 0 0 2px #fff; }
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

.tipsy-arrow-n { border-bottom-color: #333; }
.tipsy-arrow-s { border-top-color: #333; }
.tipsy-arrow-e { border-left-color: #333; }
.tipsy-arrow-w { border-right-color: #333; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }




/* fade */
.fadeIn{
  opacity: 1;
  transition-delay: .3s;
}
.fadeOut{
  opacity: 0;
}
/* slideDown */
.slideDownIn {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .3s;
}

.slideDownOut {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

/* slideUp */
.slideUpIn {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .3s;
}

.slideUpOut {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}
.clear {clear:both}
/*  == tab heading */
.tabs-1 {margin-top:10px}
.darttabs {padding-left:0; margin-bottom:0; border: 1px solid #e1e1e1; overflow:hidden; list-style:none}
.darttabs li{ float:left; }
.darttabs li a{ border-left: 1px solid #e1e1e1; color:#21759B; display:block; font-weight:bold; padding: 15px 20px; text-decoration:none}
.darttabs li:first-child a{ border-left: none; }
.darttabs li a:hover, .darttabs li a:focus{ color:#D54E21; }
.darttabs .active a{ color: #000; }

/* == accordion */
.accordion_tabs { display:none; border-top: 1px solid #e1e1e1; padding: 10px; font-weight: bold; background: #eee; }
.tab_content_wrapper > .accordion_tabs:first-child{ border-top:none; }
a.accordion_tabs:link, a.accordion_tabs:visited{ color: #21759B; }
a.accordion_tabs:hover, a.accordion_tabs:focus{ color:#D54E21; }
a.accordion_tabs.active{ color: #000; border-bottom: 1px solid #e1e1e1;}

/*  == tab content  */
.tab_content_wrapper{ overflow:hidden;  position:relative; transition: all .3s ease-in-out .3s; }
.tab_content{ transition: all .6s ease-in-out; padding:15px; background:#fcfcfc;}
.toggle_display{display:block;}
.toggle_position{ position:absolute; }
.toggle_border{ border:1px solid #e1e1e1; border-width: 0 1px 1px 1px; }
.invert_border{ border-width: 1px 1px 0 1px;}

/* Media Queries
***********************/
@media screen and (max-width: 400px) {
  #container{ width:90%; padding:40px 20px; }
  .accordion_tabs{ display:block; }
  .tab_content_wrapper{ height:auto !important;}
  .tab_content{ transition:none; padding:10px;}
  .toggle_display{display:none;}
  .toggle_position{ position:relative; }
  .toggle_border{ border-width: 1px; }
}


