/* Dark variation
================================================== */


/*--- Home page ---*/

.btn-default{
	background: #4d4d4d;
	color: #fff;
	border-color: #4d4d4d;
}
.shop_table, .woocommerce #payment, .woocommerce-page #payment, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message{background: #4d4d4d !important;
	color: #fff !important;
	border-color: #4d4d4d !Important;}

body{
	background: #171717;
	color: #fff;
}

 h2.title span{
 	background: #191919;
 }

 h2.title:before{
	border-bottom: 1px solid #4d4d4d;
}

.service-content i{
	-webkit-box-shadow: 0 0 0 12px #4d4d4d;
	-moz-box-shadow: 0 0 0 12px #4d4d4d;
	box-shadow: 0 0 0 12px #4d4d4d;
}

.service-content:before{
	background: #4d4d4d;
}

.feature-image:after{
	background: #4d4d4d;
}

.feature-wrapper:before{
	background: #4d4d4d;
}

.dart-carousel-controller .left,
.dart-carousel-controller .right, 
.owl-controls .owl-prev, 
.owl-controls .owl-next{
	background: #4d4d4d;
	-webkit-transition-duration:350ms;
	-moz-transition-duration:350ms;
	-ms-transition-duration:350ms;
	-o-transition-duration:350ms;
	transition-duration:350ms;
}

.recent-post .post-body:before{
	background: #4d4d4d;
}

a.read-more {
	color: #fff;
}

.recent-post .post-body h3 a {
	color: #808080;
}

.panel{
	background: #1f1f1f;
}

.panel-group .panel-heading+.panel-collapse .panel-body{
	border: 0;
}

.panel-default{
	border-color: #4d4d4d;
}

.panel-default>.panel-heading{
	background: #4d4d4d;
	border-color: #4d4d4d;
}

.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header{
	background: #4d4d4d !important;
	border-color: #4d4d4d;
}
.wpb_accordion_section.group {background: #1f1f1f; border-color: #1f1f1f;}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content{border-top-color: #4d4d4d;}

.client-carousel .owl-wrapper-outer{
	background: #4d4d4d;
}

#footer{
	background: #1f1f1f;
}

h3.footer-title span{
	background: #1f1f1f;
}

h3.footer-title:after{
	border-bottom: 1px solid #4d4d4d;
}

.recent-post ul li a{
	color: #fff;
}

.recent-post ul li{
	border-bottom: 1px dashed #4d4d4d;
}

/*--- Sub pages ---*/

.page-title{
	border-bottom: 1px solid #4d4d4d;
}

hr{
	border-top: 1px solid #4d4d4d;
}
.inner-title-content{
	background: #171717;
}

.inner-title-content h2,
ul.breadcrumb li a{
	color: #fff;
}

.service-box:hover i{
	color: #808080;
}

.service-box.text-center{
	border-right: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}

.plan {
	border: 1px solid #4d4d4d;
	background: #1f1f1f;
}

.plan ul { 
	background: #4d4d4d;
}

.plan ul li {
	border-top: 1px solid rgba(0,0,0,.2);
}

/* Form */

.input-group-addon{
	background-color: #4d4d4d;
	border: 1px solid #4d4d4d;
}

.form-control{
	border: 1px solid #4d4d4d;
}


/* Sidebar left */

.sidebar-left .nav-tabs>li>a{
	color: #fff;
}

.sidebar-left .nav-stacked>li{
	border: 1px solid #4d4d4d;
}

.widget-tab .nav-tabs>li>a{
	background: #4d4d4d;
}

.widget-tab .nav-tabs>li>a{
	color: #fff;
	border: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}

.widget-tab .tab-content{
	border: 1px solid #4d4d4d;
}

/* Featured Tab */

.featured-tab{
	background: #4d4d4d;
	border: 1px solid #4d4d4d;
}

.featured-tab .nav-tabs>li>a{
	color: #fff;
}

/* Blog */


h2.entry-title a{
	color: #fff;
}

.widget-categories ul.category-list  li{
	border-bottom: 1px dashed #4d4d4d;
}

.widget-categories ul.category-list  li a{
	color: #fff;
}

.widget-tags ul > li a{
	background: #4d4d4d;
	color: #fff;
}

.pagination>li>a, .pagination>li>span {
	background-color: #4d4d4d;
	border: 1px solid #4d4d4d;
}

.author-img img{
	border: 8px solid #4d4d4d;
}

.comments-list .comment{
	border-bottom: 1px solid #4d4d4d;
}

.comments-list img.comment-avatar{
	border: 5px solid #4d4d4d;
}

/* Shop */

.shop-product-info a {
	color: #808080;
}

.product-slider{
	border: 1px solid #4d4d4d;
}

.qty {
	border: 1px solid #4d4d4d;
	color: #fff;
	background: #1f1f1f;
}

.product-item-description{
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}
.full-video, .vernav ul li{border: 1px solid #4d4d4d;}
.bx-wrapper .bx-viewport, #footer, .title.tblock:before, .tab-default .tab-content, .thumbnail{border-color:#4d4d4d !important}
ul.divider li a, .tweet a, ul.breadcrumb li, .vernav li a{color:#959595}

/********** One pager **********/

.heading{
	border-bottom: 1px solid #4d4d4d;
}

.service-content i{
	-webkit-box-shadow: 0 0 0 12px #4d4d4d;
	-moz-box-shadow: 0 0 0 12px #4d4d4d;
	box-shadow: 0 0 0 12px #4d4d4d;
}

.service-content:before, .thumbnail, ul.wp-tag-cloud li a{
	background: #4d4d4d;
}
.title.tblock span{background:#171717}
.panel-default .panel-title, .widget-tab h4.entry-title a, .widget_categories ul li a, .footer-widget ul li.cat-item a, ul.wp-tag-cloud li a{color:#fff}


#features{
	background: #1f1f1f;
	border-top: 1px solid #4d4d4d;
}

.feature-image:after{
	background: #4d4d4d;
}

.feature-wrapper:before{
	background: #4d4d4d;
}

.dart-carousel-controller .left,
.dart-carousel-controller .right, 
.owl-controls .owl-prev, 
.owl-controls .owl-next{
	background: #4d4d4d;
	-webkit-transition-duration:350ms;
	-moz-transition-duration:350ms;
	-ms-transition-duration:350ms;
	-o-transition-duration:350ms;
	transition-duration:350ms;
}

.recent-post .post-body:before{
	background: #4d4d4d;
}

a.read-more, .inner-title-content h1{
	color: #fff;
}

.recent-post .post-body h3 a {
	color: #808080;
}

.bx-wrapper .bx-viewport{
	border: 5px solid #4d4d4d !important;
}

.plan {
	border: 1px solid #4d4d4d;
	background: #1f1f1f;
}

.plan ul { 
	background: #4d4d4d;
}

.plan ul li {
	border-top: 1px solid rgba(0,0,0,.2);
}

.client-carousel .owl-wrapper-outer{
	background: #4d4d4d;
	border: 1px solid #4d4d4d;
}

#blog{
	background: #1f1f1f;
}

.form-control{
	border: 1px solid #4d4d4d;
}

/*--- Sub pages ---*/

.page-title{
	border-bottom: 1px solid #4d4d4d;
}

hr{
	border-top: 1px solid #4d4d4d;
}

.inner-title-content{
	background: #171717;
}

.inner-title-content h2,
ul.breadcrumb li a{
	color: #fff;
}

/* Sidebar left */

.sidebar-left .nav-tabs>li>a{
	color: #fff;
}

.sidebar-left .nav-stacked>li{
	border: 1px solid #4d4d4d;
}

.widget-tab .nav-tabs>li>a{
	background: #4d4d4d;
}

.widget-tab .nav-tabs>li>a{
	color: #fff;
	border: 1px solid #4d4d4d;
	border-bottom: 1px solid #4d4d4d;
}

.widget-tab .tab-content{
	border: 1px solid #4d4d4d;
}

.nav-tabs{
	border-bottom: 0;
}


/* Blog */


h2.entry-title a{
	color: #fff;
}

.widget-categories ul.category-list  li{
	border-bottom: 1px dashed #4d4d4d;
}

.widget-categories ul.category-list  li a{
	color: #fff;
}

.widget-tags ul > li a{
	background: #4d4d4d;
	color: #fff;
}

.pagination>li>a, .pagination>li>span {
	background-color: #4d4d4d;
	border: 1px solid #4d4d4d;
}

.author-img img{
	border: 8px solid #4d4d4d;
}

.comments-list .comment{
	border-bottom: 1px solid #4d4d4d;
}

.comments-list img.comment-avatar{
	border: 5px solid #4d4d4d;
}
#contactFormWidget input[type="text"], #contactFormWidget textarea{border: solid 1px #666; background-color: #4d4d4d; color:#fff}

.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li,
.widget-categories ul.category-list li a, .product-categories li{border-bottom-color: #4d4d4d;}
.widget-categories ul.category-list li a, .product-categories li a, .woocommerce-review-link, .sidebar .widget_nav_menu ul li a{color:#fff}
.woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li span, .product .images, .sidebar .widget_nav_menu ul li{border-color:#4d4d4d !important}

table tr:nth-child(2n+1) td{ background-color: #323232;}
tr.cart_item, table td{ background-color: #1f1f1f;}
table td, table th {border-color:#111}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{border-color:#111}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{background-color:#222}