/**************************************
Theme Name: Dart
Theme URI: http://dart.weblusive-themes.com
Description: A Beautiful, Professional and Multipurpose Theme
Author: UIUXAesthetics
Author URI: http://www.weblusive.com
Version: 2.0
License: See on zip package
License URI: See on zip package
Tags: post-formats, translation-ready
Text Domain: carpenter
***************************************************************/


/* Table of Content
==================================================
1.	Global Styles
2. 	Header
3. 	Slider
4.	Services
5.	Features
6.	Portfolio
7.	Post & Service
8.	Testimonial
9.	Call to Action
10.	Clients
11.	Footer
12. Subpages - About, Service, pricing, faq
13. Features Page - Typography, Shortcode
14. Blog
15. Shop
15. Responsive

*/

/* Global and Common styles
================================================== */

html{
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body{
	border: 0;
	margin: 0;
	padding: 0;
	color: #323232;
}

body, p{
	font-family: 'Raleway', sans-serif;
	font-weight: 500; 
	line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

.body-inner{
	position: relative;
	overflow: hidden;
}

a{
	color: #eb2c33;
	text-decoration: none;
}
img{max-width:100%; height:auto}
a:hover{
	text-decoration: none;
	color: #000;
}

a.read-more{
	color: #323232;
}

a.read-more:hover{
	color: #eb2c33;
}

.gap-40 {
	clear: both;
	height: 40px;
}

.gap-30 {
	clear: both;
	height: 30px;
}
.gap-20 {
	clear: both;
	height: 20px;
}

a:focus{
	outline: 0;
}

.form-group [class*="col-sm-"], 
.form-group [class*="col-md-"], 
.form-group [class*="col-lg-"] {
	margin-bottom: 15px;
	display: inline-block;
}

/* Carousel controller */

.carousel-control{
	width: auto;
}
.dart-carousel-controller{
	text-align: center;
	padding-top: 50px;
}

.dart-carousel-controller .left,
.dart-carousel-controller .right, 
.owl-controls .owl-prev, 
.owl-controls .owl-next{
	cursor: pointer;
	background: #f6f6f6;
	width: 38px;
	height: 38px;
	line-height: 38px;
	color: #989898;
	opacity: 1;
	top: auto;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	border-radius: 100%;
}
.owl-controls .owl-next{
	margin-left: 6px;
}

.dart-carousel-controller .left:hover,
.dart-carousel-controller .right:hover,
.owl-controls .owl-prev:hover, 
.owl-controls .owl-next:hover{
	background: #eb2c33;
	color: #fff;
}

.owl-controls .owl-page, 
.owl-controls .owl-buttons div{
	display: inline-block;
}
.eemail_caption { padding-bottom:5px; padding-top:5px; padding-right:5px;}
.eemail_msg {padding-top:5px; padding-bottom:5px; color:#F00;}
.eemail_textbox {padding-bottom:10px;}
.eemail_button {padding-bottom:10px;}
.eemail_textbox_class {width:200px;}
.eemail_textbox_button {width:100px;}

/* Input form */

.form-control{
	box-shadow: none;
	border: 1px solid #d7d7d7;
	padding: 6px 20px;
	height: 42px;
	background: none;
	color: #959595;
	font-size: 14px;
	border-radius: 0;
}

.form-control:focus{
	box-shadow: none;
	border: 1px solid #eb2c33 !important;
}

/*-- bx slider --*/

ul.bxslider{
	margin: 0;
	padding: 0;
}

#blog-gallary li,
#portfolio-slider li{
	left: 0;
}

.bx-wrapper .bx-viewport{
	border: 5px solid #f2f2f2 !important;
	box-shadow: none !important;
}

.bx-wrapper .bx-next{
	right: 20px !important;
}

.bx-wrapper .bx-pager{
	bottom: 15px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a{
	border: 2px solid #fff;
	width: 14px !important;
	height: 14px !important;
	border-radius: 100% !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active{
	background: #eb2c33 !important;
	
}

/*-- Sidebar --*/

.sidebar h3.widget-title{
	font-size: 18px;
	line-height: normal;
	margin-top: 0;
	font-weight: 700;
}

.sidebar .widget {
	margin-bottom: 40px;
}

/*-- Pagination --*/

.pagination li a{
	border-radius: 0 !important;
	margin-right: 8px;
}

.pagination>.active>a, .pagination>.active>a:hover,
.pagination>li>a:hover{
	background: #eb2c33;
	color: #fff;
	border: 1px solid transparent;
}


/*-- Isotope --*/

#isotope {
	width:100%;
	margin-top:0;
}

.isotope-item {
	z-index:2;
}

.isotope-hidden.isotope-item {
	z-index:1;
}

.isotope, .isotope .isotope-item {
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-ms-transition-duration:1s;
	-o-transition-duration:1s;
	transition-duration:1s;
}

.isotope {
	-webkit-transition-property:height, width;
	-moz-transition-property:height, width;
	-ms-transition-property:height, width;
	-o-transition-property:height, width;
	transition-property:height, width;
}

.isotope .isotope-item {
	-webkit-transition-property:0 opacity;
	-moz-transition-property:0 opacity;
	-ms-transition-property:0 opacity;
	-o-transition-property:0 opacity;
	transition-property:transform, opacity;
}

#isotope .col-sm-3{
	width:24.95%;
}

/* Typography
================================================== */


/* Heading */

h1{
    font-size: 36px;
    line-height: 48px;
}

h2{
    font-size: 28px;
    line-height: 38px;
}

h3{
    font-size: 24px;
    line-height: 34px;
}

h4{
    font-size: 18px;
    line-height: 28px;
}

h5{
    font-size: 14px;
    line-height: 24px;
}

p.lead{
	font-weight: 700;
}

/* Button */

.btn{
	border-radius: 2px;
	font-weight: 500;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.btn-default{
	background: #f7f7f7;
	color: #818181;
}
.btn.btn-primary{
	background: #eb2c33;
	border: 1px solid transparent;
}

.btn.btn-primary:hover{
	background: #000;
	color: #fff;
}

button .icon-left{
	margin-right: 5px;
}
button .icon-right{
	margin-left: 5px;
}

/* Lists circle */

ul.circle{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.circle li{
	position: relative;
	margin-left: 25px;
	padding-bottom: 5px;

}

ul.circle li:before, .product-categories li:before{
	content: "\f111";
	color: #eb2c33;
	font-family: FontAwesome;
	font-size: 8px;
	line-height: 8px;
	border: 2px solid rgba(0, 0, 0,.1);
	border-radius: 100%;
	position: absolute;
	left: -25px;
	top: 5px;
}

ul.unstyled{
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Lists divider */

ul.divider{
	padding: 0;
	margin: 0;
	list-style: none;
}
ul.divider li{
	padding-top: 8px;
	padding-bottom:8px;
	border-bottom: 1px dashed #d7d7d7;
	position: relative;
}

ul.divider li:last-child{
	border-bottom: 0;
}

ul.divider li:before{
	content: "\f111";
	color: #eb2c33;
	position: absolute;
	font-family: FontAwesome;
	font-size: 11px;
	line-height: 9px;
	top: 14px;
	border: 2px solid rgba(0, 0, 0,.1);
	border-radius: 100%;
}

ul.divider li a{
	color: #323232;
	padding-left: 25px;
}
ul.divider li a:hover{
	color: #eb2c33;
}

/* Blockquote */

blockquote p{
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	font-style: italic;
	color: #959595;
}

blockquote {
	margin: 20px 0;
	border-left: 5px solid #eb2c33;
}

/* Progress bar */

.progress{
	height: 20px;
}
.progress-bar{
	line-height: 22px;
	padding-left: 10px;
	font-weight: 500;
	text-align: left;
}

/* Deafult title */

h2.title{
	font-size: 24px;
	font-weight: 500;
	padding: 20px 15px 40px;
	position: relative;
	left: 0;
	line-height: normal;
 }

 h2.title span{
 	background: #fff;
 	z-index: 1;
 	padding: 10px 15px;
 }

h2.title:before{
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -10px;
	height: 1px;
	width: 100%;
	left: 0;
	z-index: -1;
	border-bottom: 1px solid #d7d7d7;
}

.page-title{
	border-bottom: 1px solid #d7d7d7;
	margin-top: 0;
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 20px;
}

.page-title:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 75px;
	height: 0;
	border-bottom: 2px solid #eb2c33;
}

h2.entry-title{
	font-size: 24px;
	font-weight: 400;
}

h2.entry-title a{
	color: #323232;
}

h2.entry-title a:hover{
	color: #eb2c33;
}

h3.widget-title{
	margin-bottom: 30px;
}



/* Header area
================================================== */

/*-- Header fixed --*/

.main-nav{
	width: auto;
}

.header-fixed .top-info{
	display: none;
}


/*-- Top info --*/

.top-info{
	display: block;
	overflow: hidden;
	color: #fff;
	padding: 25px 0;
	font-size: 13px;
}
.top-info ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.top-info li{
	float: left;
	margin-left: 10px;
	font-weight: 600;
}
.top-info i{
	color: #eb2c33;
	font-size: 16px;
	margin-right: 5px;
}

.top-info li.social-icon i{
	font-size: 16px;
	color: #fff;
	margin-left: 10px;
	margin-right: 0;
}
.top-info li.social-icon i:hover{
	color: #8c1b1e;
}


/*-- Main navigation --*/

.navbar-header{
	position: relative;
	z-index: 9999;
}
.logged-in.admin-bar .navbar-fixed-top{top:28px}

a.navbar-brand{
	background: #eb2c33;
	padding: 4px 10px;
}

.navbar{
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}


.navbar-nav>li>a{
	padding: 21px 30px;
	font-weight: 600;
}

.navbar-toggle{
	background: #eb2c33;
	border-radius: 0;
	margin-right: 5px;
}

.navbar-toggle .icon-bar{
	background: #fff;
}

ul.nav.navbar-nav li{
	background-color: rgba(0,0,0,.9);
}

ul.navbar-nav li a{
	color: #fff;
}

ul.navbar-nav li a:hover, ul.navbar-nav li a:focus{
	background: #eb2c33;
	color: #fff;
}
ul.navbar-nav li a:focus, .nav .open>a:focus{/*background:initial*/}

ul.navbar-nav > li.active{
	background: none;
}

ul.navbar-nav li.active > a,
ul.navbar-nav > li.active.dropdown.open{
	background: #eb2c33;
}

ul.navbar-nav li.active > .dropdown-menu > li.active > a{
	color: #eb2c33;
}

.navbar-nav .dropdown-menu{
	left: 0;
	right: auto;
}

.dropdown-menu * {
	width: 100%;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.navbar-nav .dropdown-menu{
	background: none;
	border: 0;
	box-shadow: none;
	min-width: 200px;
	display: block;
	opacity: 0;
	z-index:1;
	visibility:hidden;
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
	-webkit-transition: visibility 500ms, opacity 500ms, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
	-moz-transition: visibility 500ms, opacity 500ms, -moz-transform 500ms cubic-bezier(.43, .26, .11, .99);
	-o-transition: visibility 500ms, opacity 500ms, -o-transform 500ms cubic-bezier(.43, .26, .11, .99);
	-ms-transition: visibility 500ms, opacity 500ms, -ms-transform 500ms cubic-bezier(.43, .26, .11, .99);
	transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(.43, .26, .11, .99);
}

.navbar-nav .dropdown:hover > .dropdown-menu {
	opacity: 1;
	visibility:visible;
	color: #777;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
 }

 .navbar-nav .dropdown-backdrop {
	visibility: hidden;
}

.navbar-nav .dropdown-menu li{
	padding: 0 10px;
}

.navbar-nav .dropdown-menu li:first-child{
	border-radius: 2px 2px 0 0;
}

.dropdown-menu li:last-child{
	border-radius: 0 0 2px 2px;
}

.dropdown-menu>li>a{
	font-size: 14px;
	font-weight: 500;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li.active>a{
	background: none !important;
	color: #eb2c33 !important;
}


@media screen and (min-width:768px){
header .navbar-nav li.dropdown-submenu{position:relative}
header .navbar-nav li.dropdown-submenu ul.dropdown-menu {
  margin: 0;
  padding: 0;
  margin-left: 1px;
  position: absolute;
  top: 0;
  width: 220px;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  text-align: left;
  left: 100%;
  transition: all 0.23s ease-in-out;
  -moz-transition: all 0.23s ease-in-out;
  -webkit-transition: all 0.23s ease-in-out;
  -o-transition: all 0.23s ease-in-out;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-backface-visibility: hidden;
}
header .navbar-nav li.dropdown-submenu ul.dropdown-menu li{
  display: block;
  position: relative;
  
}
header .navbar-nav li.dropdown-submenu:hover > ul.dropdown-menu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
}
/*-- Navbar single --*/

ul.navbar-nav li.nav-single{
	margin-left: 10px;
	background: #eb2c33;
}

ul.navbar-nav li.nav-single:hover{
	background-color: rgba(0,0,0,.9);
}

.navbar-nav li.nav-single button {
	background: none;
	border: none;
	color: #fff;
	font-size: 18px;
	outline: none;
	padding: 10px 20px;
	line-height: 42px;
}

/*-- Search start --*/


.site-search {
  text-align: center;
  background: rgba(255, 4, 4, 0.75);
}
.site-search .container {
  height: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.site-search .container.open {
  height: 80px;
}

.site-search input[type="text"] {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  margin: 30px 0;
  padding-right: 20px;
  width: 100%;
  outline: 0;
  text-align: center;
}
.site-search input[type="text"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.25);
}
.site-search input[type="text"]:-moz-placeholder {
  color: rgba(255, 255, 255, 0.25);
}
.site-search input[type="text"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.25);
}
.site-search input[type="text"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 450px) {
  .site-search input[type="text"] {
    font-size: 20px;
    margin: 21px 0;
    text-align: left;
  }
}
.site-search .close {
  color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  font-size: 32px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  right: 15px;
}
.site-search .close:hover {
  color: #fff;
}



/* Slideshow
================================================== */

/*-- Main slide --*/

#main-slide .item img{
	width: 100%;
}

#main-slide .item .slider-content, .headcarousel ul.slides li .slider-content {
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
#main-slide .item.active .slider-content, .headcarousel ul.slides li.flex-active-slide .slider-content {
  z-index: 0;
  opacity: 1;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;
}

#main-slide .slider-content{
	top: 50%;
	margin-top: -70px;
	left: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
}

#main-slide .carousel-indicators {
	bottom: 70px;
}

.carousel-indicators li{
	width: 14px !important;
	height: 14px !important;
	border: 2px solid #fff !important;
	margin: 1px !important;
}

#main-slide .carousel-indicators .active {
    background-color: #eb2c33;
}


#main-slide .carousel-control.left,
#main-slide .carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}

#main-slide .carousel-control.left span {
	padding: 15px;
}

#main-slide .carousel-control.right span {
	padding: 15px;
}

#main-slide .carousel-control .fa-angle-left, 
#main-slide .carousel-control .fa-angle-right{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}

#main-slide .carousel-control .fa-angle-left{
	left: 0;
}

#main-slide .carousel-control .fa-angle-right{
	right: 0;
}

#main-slide .carousel-control i{
	background: rgba(0,0,0,.7);
	color: #fff;
	line-height: 36px;
	font-size: 32px;
	padding: 15px 20px;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

#main-slide .carousel-control i:hover{
	background: #eb2c33;
}


#main-slide .slider-content h2{
	font-size: 76px;
	font-weight: 100;
	text-transform: uppercase;
}

#main-slide .slider-content h3{
	font-size: 36px;
	font-weight: 300;
	margin-top: 40px;
	text-transform: uppercase;
}

.slider.btn{
	padding: 10px 40px;
	margin-top: 40px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 2px;
	text-transform: uppercase;
	line-height: 28px;
	border: 0;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.slider.btn.btn-default{
	margin-left: 4px;
	background: #ECECEC
}

.slider.btn.btn-default:hover{
	background: #000;
	color: #fff;
}

.slider-content-left {
	position: relative;
	margin: 0 0 0 40px;
}

.slider-content-right{
	position: relative;
}

/*-- Animation --*/
.carousel .item.active .animated1, .headcarousel .flex-active-slide .animated1 {
	
}

.carousel .item.active .animated2, .headcarousel .flex-active-slide .animated2 {
	-webkit-animation: lightSpeedIn 1s ease-in 200ms both;
	animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .item.active .animated3, .headcarousel .flex-active-slide .animated3 {
	-webkit-animation: bounceInLeft 1s ease-in-out 500ms both;
	animation: bounceInLeft 1s ease-in-out 500ms both;
}

.carousel .item.active .animated4, .headcarousel .flex-active-slide .animated4 {
	-webkit-animation: flipInX 1s ease-in 500ms both;
	animation: flipInX 1s ease-in 500ms both;
}

.carousel .item.active .animated5, .headcarousel .flex-active-slide .animated5 {
	-webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
	animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6, .headcarousel .flex-active-slide .animated6 {
	-webkit-animation: bounceIn 1s ease-in 500ms both;
	animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated7, .headcarousel .flex-active-slide .animated7 {
	-webkit-animation: bounceIn 1s ease-in 500ms both;
	animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated8, .headcarousel .flex-active-slide .animated8 {
	-webkit-animation: bounceInDown 1s ease-in 800ms both;
	animation: bounceInDown 1s ease-in 800ms both;
}


/*-- Newsletter --*/
#newsletter{
	position: relative;
	top: -45px;
}

#newsletter .form-control{
	background: rgba(0,0,0,.55);
	border: 0;
	border-radius: 0;
	height: 45px;
	padding: 10px 20px;
}

#newsletter .btn-lg{
	padding: 10px 63px;
	margin-left: -15px;
	font-weight: 300;
	border-radius: 0 2px 2px 0;
}

/* Service Box
================================================== */

#service{
	position: relative;
	padding: 0 0 40px;
}
.service-content{
	text-align: center;
	position: relative;
	padding: 0 10px;
}
.service-content .service-icon{
	position: relative;
}

.service-content i, .service-content img{
	display: inline-block;
	overflow: hidden;
	color: #fff;
	font-size: 48px;
	background: #eb2c33;
	width:150px; 
	height:150px;
	line-height: 150px;
	margin:30px 0 0;
	-webkit-box-shadow: 0 0 0 12px #f0f0f0;
	-moz-box-shadow: 0 0 0 12px #f0f0f0;
	box-shadow: 0 0 0 12px #f0f0f0;
}

.service-content h3{
	font-size: 18px;
	font-weight: 700;

}

/* Features
================================================== */

#features{
	padding: 40px 0;
}

.feature-image{
	position: relative;
}

.feature-image:after{
	content: '';
	width: 120px;
	right:24px;
	top: 50%;
	margin-top: 11px;
	height: 1px;
	background: #d7d7d7;
	position: absolute;
	z-index: -1;
}

.feature-wrapper{
	position: relative;
}

.feature-wrapper:before{
	content: '';
	width: 1px;
	top: 0;
	bottom: 0;
	height: 100%;
	background: #d7d7d7;
	position: absolute;
	left: -50px;
	z-index: 1;
}

.feature-wrapper:after{
	content: "";
	background: #eb2c33;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 50%;
	left: -53.5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	z-index: 3;	
}

.feature-content-wrapper{
	position: relative;
	padding: 10px 0;
}

.feature-content-wrapper h2{
	font-size: 24px;
	font-weight: 500;
	margin-top: 0;
}

.feature-content-wrapper:before{
	content: "";
	background: #eb2c33;
	width: 8px;
	height: 8px;
	position: absolute;
	top: 0;
	left: -53.5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	z-index: 3;	
}

.feature-content-wrapper:after{
	content: "";
	background: #eb2c33;
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: 0;
	left: -53.5px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	z-index: 3;	
}

.feature-box .feature-icon{
	text-align: center !important;
	padding: 20px 0 0;
	font-size: 18px;
}

.feature-box .feature-icon i{
	color: #eb2c33;
	font-size: 36px;
}

.feature-box .feature-icon i.fa-mobile-phone{
	font-size: 48px;
}

.feature-box h3{
	font-size: 16px;
	font-weight: 700;
}

.feature-box .feature-box-content{
	margin-left: 60px;
}

/*-- Default Tab --*/
.tab-default .tab-content{
	padding: 20px !important;
}

/*-- Featured Tab --*/

.featured-tab{
	background: #f2f2f2;
	border: 1px solid #d7d7d7;
	padding: 40px 30px;
	border-radius: 2px;
}

.featured-tab .nav-tabs{
	border-bottom: 0;
}

.featured-tab .nav-tabs>li.active>a{
	color: #fff;
	background: #eb2c33;
}

.featured-tab .nav-tabs>li.active>a:after{
	left: 100%;
	border: transparent solid;
	content: " ";
	position: absolute;
	border-width: 40px;
	top: 50%;
	border-left-color: #E22128;
	margin-top: -40px;
}

.featured-tab .nav-tabs>li>a{
	border-radius: 4px 0 0 4px;
	padding: 20px 15px 8px;
	color: #858585;
	position: relative;
	border: 0 !important;
}

.featured-tab .nav-tabs>li.active>a{
	color: #fff !important;
}

.featured-tab .tab-icon{
	font-size: 34px;
}

.featured-tab .tab-info{
	margin-left: 50px;
}

.featured-tab .tab-info h3{
	font-size: 20px;
	line-height: normal;
	margin: 0;
}

.featured-tab .tab-pane img.pull-left{
	margin: 0 25px 10px 0;
}

.featured-tab .tab-pane img.pull-right{
	margin: 0 0 10px 25px;
}
.featured-tab .tab-pane h3{
	margin: 0;
	line-height: normal;
	color: #eb2c33;
}

.featured-tab .tab-pane h4{
	line-height: normal;
	margin: 0 0 20px;
	font-weight: 300
}

.featured-tab .tab-pane{
	padding-left: 40px;
}
.featured-tab .tab-pane a.read-more{
	color: #eb2c33;
}


/* Portfolio ==================================================  */

#portfolio-carousel .thumbnail {
    position:relative;
    overflow:hidden;
    padding: 0;
    border: 0;
    border-radius: 0;
}

#portfolio-carousel .thumbnail .caption .caption-content{
	position: absolute;
	bottom: 25px;
	width: 100%;
	left: 0;
}

#portfolio-carousel .thumbnail .caption i{
	border: 4px solid #FFFFFF;
	border-radius: 100%;
	color: #FFFFFF;
	display: inline-block;
	font-size: 18px;
	height: 46px;
	line-height: 40px;
	position: relative;
	text-align: center;
	top: -40px;
	width: 46px;
	z-index: 8;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

#portfolio-carousel .thumbnail .caption i.fa-link{
	margin-left: 10px;
}

#portfolio-carousel .caption {
	color: #fff;
	padding: 15px;
    position:absolute;
    top: -100%;
    right:0;
    background:rgba(235, 44, 51, 0.85);
    width:100%;
    height:100%;
    text-align:center;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#portfolio .thumbnail:hover .caption {
    top: 0%;
}

#portfolio-carousel .caption h3{
	font-size: 22px;
	font-weight: 400;
}

#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    z-index:1032;
}
    

/* Latest Post & Service
================================================== */

/*-- Latest Post --*/

#blog-service{
	padding: 0 0 40px;
}

.recent-post img{
	position: relative;
}
.recent-post .bx-wrapper .bx-viewport{border:none !important}
.recent-post .date{
	position: relative;
}

.recent-post .date:before{
	content: '';
	width: 61px;
	right: 0;
	top: 50%;
	margin-top: 4px;
	height: 10px;
	background: #eb2c33;
	position: absolute;
	z-index: -1;
}

.recent-post .blog-date{
	position: absolute;
	top: 0;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	color: #fff;
	background: #eb2c33;
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding-top: 10px;
	line-height: normal;
	margin: 10px 20px;
	z-index: 1;
}

.recent-post .date span{
	display: block;
	font-size: 14px;
	font-weight: 400;
}


.recent-post .post-body{
	position: relative;
	padding: 5px 0 0 35px;
}

.recent-post .post-body:before{
	content: '';
	width: 1px;
	top: 28px;
	left: 15px;
	bottom: 15px;
	height: auto;
	background: #e2e2e2;
	position: absolute;
	z-index: 1;
}

.recent-post .post-body:after{
	content: "";
	background: #eb2c33;
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: 6px;
	left: 12px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	z-index: 3;
}

.recent-post .post-body h3{
	font-size: 16px;
	margin-bottom: 0;
	line-height: normal;
}

.recent-post .post-body h3 a{
	color: #323232;
}

.recent-post .post-body .post-meta,
.recent-post .post-body .post-meta a,
.recent-post .post-body .post-meta a i{
	font-weight: 400;
}

.recent-post .post-body .post-meta span,
.recent-post .post-body .post-meta span i{
	padding-right: 5px;
	font-size: 13px;
}

.recent-post .post-excerpt a.read-more{
	padding-top: 30px;
	display: block;
}

/*-- Services accordion --*/

.panel-default{
	border-color: #cfcfcf;
}

.panel-default>.panel-heading{
	background: #f2f2f2;
	border-color: #cfcfcf;
}

.panel-heading{
	padding: 15px;
}

h4.panel-title{
	color: #989898;
	position: relative;
}

h4.panel-title a{
	color: #eb2c33;
}

h4.panel-title a:hover{
	color: #eb2c33;
}

h4.panel-title a.collapsed{
	color: #989898;
}

h4.panel-title a:after, h4.panel-title a.collapsed:after  {
	content: "\f068";
	font-family: FontAwesome;
	background: #eb2c33;
	color: #fff;
	font-size: 14px;
	right: 20px;
	position: absolute;
	z-index: 111;
	width: 28px;
	height: 28px;
	line-height: 30px;
	top: 0;
	border-radius: 100%;
	text-align: center;
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
	-moz-box-shadow: 0 0 0 5px rgba(0,0,0,.07);
	box-shadow: 0 0 0 5px rgba(0,0,0,.07);
}

h4.panel-title a.collapsed:after {
	content: "\f067";
	background: #afafaf;
}


/* Testimonial
================================================== */

.testimonial-slide .testimonial-thumb img{
	width: 152px;
	height: 152px;
	border: 5px solid rgba(0, 0, 0, .09);
	margin:0px auto;
}

.testimonial-slide .testimonial-content h3.name{
	font-size: 24px;
	color: #eb2c33;
	font-weight: 400;
}

.testimonial-slide .testimonial-content h3 span{
	display: block;
	font-size: 16px;
	color: #636363;
}

.testimonial-slide .owl-buttons{
	display: none;
}

.testimonial-slide .testimonial-text{
	font-size: 16px;
	line-height: 24px;
	max-width: 800px;
	padding-top: 20px;
	display: inline-block;
	position: relative;
}

.testimonial-slide .testimonial-text:before{
	content: '\f10d';
	font-family: FontAwesome;
	padding-right: 10px;
	color: #eb2c33;
}
.testimonial-slide .testimonial-text:after{
	content: '\f10e';
	font-family: FontAwesome;
	padding-left: 10px;
	color: #eb2c33;
}

/* Action
================================================== */

#action{
	background: url( images/action-bg.jpg) no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-attachment: fixed;
	color: #fff;
	padding: 30px 0 60px;
	margin-top: 60px;
}

#action h2{
	font-size: 36px;
}

.action.btn{
	padding: 8px 32px;
	font-size: 18px;
	border-radius: 2px;
	margin-top: 20px;
	text-transform: uppercase;
	line-height: 28px;
	border: 0;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.action.btn:hover{
	background: #000 !important;
	color: #fff;
}

.action.btn.btn-default{
	margin-left: 4px;
	background: #ECECEC;
}

/* Clients
================================================== */

#clients{
	padding: 40px 0;
}

.client-carousel .owl-wrapper-outer{
	background: #f2f2f2;
	border: 1px solid #d7d7d7;
	padding: 60px 0;
	border-radius: 2px;
	margin-bottom: 40px;
	position: initial !important
}


/* Footer
================================================== */

/*-- Footer common --*/

#footer-wrapper{padding-top:40px}
#footer{
	padding: 60px 0;
	background: #f2f2f2;
	border-top: 1px solid #d7d7d7;
}

h3.footer-title{
	font-size: 18px;
	font-weight: 400;
	margin-top: 0;
	padding-bottom: 20px;
	position: relative;
}

h3.footer-title span{
	background: #f2f2f2;
	z-index: 2;
	position: relative;
	padding: 0 10px 0 0;
}

h3.footer-title:after{
	content: '';
	position: absolute;
	top: 50%;
	height: 1px;
	width: 100%;
	left: 0;
	margin-top: -10px;
	border-bottom: 1px solid #d7d7d7;
	z-index: 0;
}

/*-- Footer about us --*/

.footer-about-us .desc{
	padding: 40px 0 30px;
}

.footer-about-us .footer-social a{
	color: #949494;
	margin-right: 25px;
}

.footer-about-us .footer-social a:hover{
	color: #eb2c33;
}
.footer-about-us .footer-social a i{
	font-size: 18px;
}


/*-- Recent post --*/

.recent-post ul{
	margin: 0;
	padding: 0;
	list-style: none;
}


/*-- Photo Gallery --*/

.img-gallery a.thumb-holder img{
	margin: 0 10px 10px 0;
	display: inline-block;
	width: 72px;
	height: 77px;
	border-radius: 100%;
}

/*-- Twitter feed --*/
.tweet a{
	color: #323232;
}
.tweet a:hover{
	color: #eb2c33;
}

.tweet .tweet-time{
	margin-top: 10px;
}

.tweet .tweet-time i{
	font-size: 16px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	background: #eb2c33;
	color: #fff;
	border-radius: 100%;
	margin-right: 5px;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);

}

/*-- Footer bottom --*/
.footer-bottom{
	background: #eb2c33;
	min-height:120px;
}

.footer-bottom-menu{
	list-style: none;
	margin: 50px 0 0 0;
	padding: 0;
}

.footer-bottom-menu li{
	display: inline-block;
	margin-right: 10px;
}

.footer-bottom-menu li a{
	color: #6e1518;
	font-size: 16px;
	font-weight: 500;
}

.footer-bottom-menu li a:hover{
	color: #fff;
}

.scroll-up img{
	margin-top: -20px;
}
.back-to-top {
   
}
.copyright-info{
	margin-top: 50px;
	font-size: 16px;
	color: #fff;
	text-align:right
}

.copyright-info a{
	color: #6e1518;
	font-weight: 700;
}
.copyright-info a:hover{
	color: #fff;
}

/* Main Content 
================================================== */

#main-container{
	padding: 40px 0;
}



/* Subpages 
================================================== */

/*-- Subpage common --*/

#inner-header{
	position: relative;
	width: 100%;
	overflow: hidden;
}

#inner-header img{
	width: 100%;
}

.inner-title-content{
	margin-top: -100px;
	background: #fff;
	padding: 20px 30px;
}

.inner-title-content h1{
	font-size: 32px;
	font-weight: 400;
	color: #000;
}

ul.breadcrumb{
	background: none;
	margin: 0;
	padding: 0;
}

ul.breadcrumb li a{
	font-size: 16px;
	color: #000;
}
.breadcrumb>li+li:before{
	content: "\f105";
	font-family: FontAwesome;
}

h3.page-content-title{
	margin-top: 0;
}


/*-- Page Big slider --*/

.page-big-slider .bx-wrapper .bx-caption{
	background: none !important;
	bottom: 50px !important;
	left: 40px !important;
	width: auto !important;
}

.bx-wrapper .bx-caption h2{
	margin: 0;
	background: rgba(255, 4, 4, 0.75);
	line-height: normal;
	display: inline-block;
	font-size: 24px;
	padding: 5px 10px;
	color: #fff;
}

.bx-wrapper .bx-caption h3{
	margin: 0;
	background: rgba(0,0,0,.8);
	line-height: normal;
	font-size: 18px;
	padding: 5px 10px;
	color: #fff;
}

/*-- Skills --*/

.skills{
	padding-top: 20px;
}

.percentage.easyPieChart > span, .percentage.easyPieChart {
	color: #7e8c8d;
	font-size: 48px;
}
.percentage.easyPieChart {
	font-size: 27px;
}
.easyPieChart {
	position: relative;
	text-align: center;
	margin: 0 auto 20px;
}
.easyPieChart canvas {
	position: absolute;
	top: 0;
	left: 0;
}
.skills small {
	text-align: center;
	font-size: 18px;
	display: block;
	padding-top: 10px;
}

/*-- Progress bar --*/
.page-progressbar{
	margin-top: 50px;
}

/*-- Team --*/

.team-carousel{
	padding-top: 20px;
}

.team-img-wrapper {
	position: relative;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
	border: 5px solid rgba(0, 0, 0, .09);
}

.team-img-wrapper img{
	width: 120px !important;
	height: 120px;
}

.team-img-wrapper i{
	font-size: 20px;
	color: #fff;
	margin-left: 8px;
}

.team-img-wrapper .social-icons{
	top: 50%;
	position: relative;
}

.team-img-wrapper-hover {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(235, 44, 51, 0.75);
	opacity: 0;
	border-radius: 100%;
	border: 5px solid transparent;
	-webkit-transition: all 0.45s;
	-moz-transition: all 0.45s;
	-o-transition: all 0.45s;
	transition: all 0.45s;
}
.team-img-wrapper-hover:hover {
	opacity: 1;
}

.team-wrapper .team-content{
	padding: 15px 25px 40px;
}

.team-wrapper .team-content h3.name {
	font-size: 22px;
	line-height: normal;
	color: #eb2c33;
}
.team-content h3 span {
	display: block;
	font-size: 16px;
	color: #636363;
}
.team-content .team-text {
	padding-top: 10px;
}

/*-- Service box --*/

.service-box:hover i{
	color: #000;
}

.service-box .service-icon{
	margin-top: 10px;
}

.service-box i{
	font-size: 32px;
	color: #eb2c33;
}

.service-box-content{
	margin-left: 70px;
}

.service-box-content h3{
	font-size: 18px;
}

.service-box.text-center{
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 20px;
}
.service-box.text-center .service-box-content{
	margin: 0;
}


/*-- Team page --*/
.page-team-wrapper{
	width: auto;
	max-width:100%;
}

.team-image-wrapper {
	position: relative;
	display: inline-block;
	border: 5px solid rgba(0, 0, 0, .09);
}

.team-image-wrapper .social-icons{
	top: 50%;
	margin-top: -30px;
	position: relative;
}

.team-image-wrapper .social-icons a{
	border: 2px solid #FFFFFF;
	border-radius: 100%;
	color: #FFFFFF;
	display: inline-block;
	font-size: 18px;
	margin: 0 6px;
	width: 48px;
	height: 48px;
	line-height: 44px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.team-image-wrapper .social-icons a:hover{
	background: #fff;
	color: #eb2c33;
}

.team-image-wrapper-hover {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(235, 44, 51, 0.75);
	opacity: 0;
	border: 5px solid transparent;
	-webkit-transition: all 0.45s;
	-moz-transition: all 0.45s;
	-o-transition: all 0.45s;
	transition: all 0.45s;
}

.team-image-wrapper-hover:hover {
	opacity: 1;
}

.page-team-wrapper .team-content{
	padding: 10px 0 40px;
}

.page-team-wrapper .team-content h3.name {
	font-size: 22px;
	line-height: 26px;
	color: #eb2c33;
}
.page-team-wrapper .team-content h3 span {
	display: block;
	font-size: 16px;
	color: #636363;
}
.page-team-wrapper .team-content .team-text {
	padding-top: 10px;
}

.team-page .owl-controls{
	text-align: center;
}

/*-- Pricing table --*/

.plan {
	border: 1px solid #E8E8E8;
	background: #f2f2f2;
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.plan:hover{
	cursor: pointer;
	position: relative;
}

.plan-name { 
	background: #000; 
	color: #fff;
	display: block; 
	font-size: 24px;  
	font-weight: 700;  
	padding: 20px 39px; 
	position: relative;
	text-transform: uppercase;
}

.plan-name:after{
	bottom: -30px;
	border: solid transparent;
	content: " ";
	position: absolute;
	border-width: 15px;
	border-top-color: #000;
	left: 50%;
	margin-left: -16px;
}

.plan-price { 
	font-size: 48px; 
	position: relative;
	width: 160px;
	height: 160px;
	margin: 50px 0 30px;
	display: inline-block;
	background: #eb2c33;
	color: #fff;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 12px #fff;
	-moz-box-shadow: 0 0 0 12px #fff;
	box-shadow: 0 0 0 12px #fff;
}

.plan-price .currency { 
	top: -0.9em;
	font-size: 50%;
	left: -0.2em;
	font-weight: 700;
}

.plan-price strong{
	display: inline-block;
	margin-top: 55px;
}
.plan-price small{
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	font-style: italic;
	margin-top: 15px;
}

.plan ul { 
	background: #fff; 
	padding: 0;
	margin-bottom: 0;
}

.plan ul li {
	border-top: 1px solid #E8E8E8;
	padding: 12px 29px;
	font-weight: 500;
}

.plan ul li:first-child { 
	border-top: 0 !important;
}

.plan a.btn { 
	display: block;
	margin: 17px auto;
	max-width: 160px;
	padding: 12px 0;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 4px solid #C70606;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.plan a.btn:hover{
	background: #F64444;
}

.plan.featured .plan-name{
	background: #eb2c33;
	color: #fff;
}
.plan.featured .plan-name:after{
	border-top-color: #eb2c33;
}

/*-- Faq page --*/

.faq-form-text{
	font-size: 12px;
	color: #858586;
}

.faq-form .form-control{
	display: inline-block;
}

/*-- Portfolio page --*/

#portfolio-page div[class*='col-sm-'] {
	padding-left: 0px;
	padding-right: 0px;
}

#portfolio-page .col-sm-3 .image-thumb {
	height: 300px;
	position: relative;
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
}

#portfolio-page .image-thumb img{
	width: 100%;
	height: 100%;
}

#portfolio-page .post-img-lg {
	margin-bottom: 60px;
}

.portfolio-overlay{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(235, 44, 51, 0.75);
	color: #FFF;
	opacity: 0;
	z-index: 10;
    -webkit-transition: all 0.3s;
	 -moz-transition: all 0.3s;
	 -o-transition: all 0.3s;
	 transition: all 0.3s;
}

.portfolio-overlay:hover{
	opacity: 1;
}

.portfolio-overlay-btn {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -20px;
	color: #FFF;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.portfolio-overlay-btn a{
	border: 2px solid #FFFFFF;
	border-radius: 100%;
	color: #FFFFFF;
	display: inline-block;
	font-size: 18px;
	margin: 0 6px;
	width: 48px;
	height: 48px;
	line-height: 44px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.portfolio-overlay-btn a:hover{
	background: #fff;
	color: #eb2c33;
}

.project-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.portfolio-desc .btn{
	margin: 10px;
}

/*-- Contact page --*/

.map {
	height: 450px;
	z-index: 1;
	margin-bottom: 40px;
}

.contact-form label{
	color: #959595;
	font-weight: normal;
}
.contact-info i{
	font-size: 14px;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #eb2c33;
	color: #fff;
	border-radius: 100%;
	margin-right: 10px;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
}

/*-- 404 Pages --*/

.error-title{
	font-size: 14em;
	line-height: 1;
	font-weight: 700;
	color: #eb2c33;
}

.error-block h2{
	font-size: 48px;
	line-height: 52px;

}

.error-block p.lead{
	color: #959595;
}

.error-block .btn-lg{
	font-size: 18px;
}


/* Features Page - Typography, Shortcodes 
================================================== */

/*-- Sidebar left --*/

.sidebar-left .nav-tabs>li>a{
	border-radius: 3px;
	font-weight: 500;
	color: #000;
}

.sidebar-left .nav-stacked>li{
	border: 1px solid #e7e7e7;
}

.nav-tabs{
	border: 0;
}

.sidebar-left .nav-tabs>li>a:hover{
	color: #eb2c33;
}

.sidebar-left .nav-tabs>li.active>a, 
.sidebar-left .nav-tabs>li.active>a:focus{
	background: none;
	color: #eb2c33;
}


/*-- Carousel --*/

.slide-carousel .owl-wrapper-outer{
	margin-bottom: 40px;
}

/* Blog page
================================================== */

/*-- Blog post listing --*/

.blog-post{
	margin-bottom: 40px;
}
.post-media{
	position: relative;
}

.img-overlay{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	height: 100%;
	display: block;
	left: 50%;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.post-media:hover .img-overlay{
	left: 0;
	width: 100%;
	opacity: 1;
}

.blog-img-icon {
	margin: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	visibility: hidden;
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.post-media:hover .blog-img-icon {
	margin-top: -20px;
	opacity: 1;
	top: 50%;
	visibility: visible;
}

.blog-img-icon a{
	background: #fff;
	border: medium none;
	display: inline-block !important;
	float: none !important;
	font-size: 14px;
	font-weight: normal;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 0 2px;
	text-align: center;
	border-radius: 100%;
}

.post-media .bx-wrapper .bx-pager{
	display: none;
}

.post-media .bx-wrapper{
	margin-bottom: 0;
}
.blog-video-wrapper{
	position: relative;
}

.full-video {
	height: 0;
	padding-top: 25px;
	padding-bottom: 48.5%;
	border: 1px solid #ffffff;
	position: relative;
	overflow: hidden;
}

.full-video embed, .full-video iframe, 
.full-video object, .full-video video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}

.post-meta{
	color: #959595;
}
.post-meta span{
	padding-right: 10px;
}

.post-meta a{
	color: #959595;
}

.post-meta i{
	color: #eb2c33;
}

.entry-content{
	padding: 20px 0 10px;
}


/*-- Blog search --*/

.sidebar #search .input-group-btn .btn.btn-primary{
	padding: 10px 12px;
	border-radius: 0 2px 2px 0;
}


/*-- Blog tab widget --*/

.widget-tab .nav-tabs {
	margin: 0;
	text-align: center;
}

.widget-tab .nav-tabs>li>a{
	color: #323232;
	font-size: 16px;
	text-transform: capitalize;
	border-radius: 4px 4px 0 0;
	margin-right: -1px;
	margin-bottom: -1px;
	background: #f5f5f5;
	border: 1px solid #d7d7d7;
	border-bottom: 1px solid #f5f5f5;

}

.widget-tab .nav-tabs>li.active>a{
	color: #fff;
	background: #eb2c33;
	border: 1px solid transparent;
}

.widget-tab .nav-tabs>li>a i{
	margin-right: 10px;
}

.widget-tab .tab-content{
	border: 1px solid #d7d7d7;
	padding: 5px 10px 0;
}

.widget-tab .posts-thumb img{
	display: block;
	width: 70px;
	height: 65px;
	margin-right: 20px;
}

.widget-tab .posts-avator img{
	display: block;
	width: 72px;
	height: 72px;
	margin-right: 20px;
	border-radius: 100%;
	border: 5px solid #f2f2f2;
}

.widget-tab h4.entry-title{
	font-size: 16px;
	line-height: normal;
	margin-bottom: 5px;
}
.widget-tab h4.entry-title a{
	color: #323232;
}

.widget-tab h4.entry-title a:hover{
	color: #eb2c33;
}

.widget-tab .post-meta span{
	font-style: italic;
	padding-right: 5px;
}

.widget-tab ul.posts-list li{
	padding-bottom: 10px;
}


/*-- Blog category widget --*/

.widget-categories ul.category-list, .product-categories  li{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #d7d7d7;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.widget-categories ul.category-list  li:hover, .product-categories  li:hover{
	padding-left: 10px;
}
.widget-categories ul.category-list  li a, .product-categories  li a{
	color: #323232;
	font-weight: 500;
}
.widget-categories ul.category-list  li:last-child, .product-categories  li:last-child{
	border-bottom: 0;
}

.widget-categories ul.category-list  li .count, .product-categories  span.count{
	margin-left: 20px;
	font-size: 9px;
	background: #eb2c33;
	color: #fff;
	padding: 0;
	border-radius: 100%;
	font-weight: 700;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

/*-- Blog tags widget --*/

.widget-tags ul > li {
	float: left;
	margin: 6px;
}

.widget-tags ul > li a{
	background: #f2f2f2;
	color: #6A6A6A;
	display: block;
	font-size: 14px;
	padding: 5px 8px;
	border-radius: 2px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.widget-tags ul > li a:hover{
	background: #eb2c33;
	color: #fff;
}


/*-- Blog details page --*/

.about-author h3{
	margin-bottom: 30px;
}
.author-img img{
	width: 120px;
	height: 120px;
	margin-right: 30px;
	border-radius: 100%;
	border: 8px solid #f2f2f2;
}

.author-url span{
	color: #eb2c33;
}

.author-info h3{
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: normal;
}

/*-- Blog post comments --*/

.comments-list{
	list-style: none;
	margin: 0;
	padding: 20px 0;
}

.comments-list .comment{
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.comments-list .comment.last{
	border-bottom: 0;
}
.comments-list img.comment-avatar{
	width: 84px;
	height: 84px;
	margin-right: 30px;
	border-radius: 100%;
	border: 5px solid #f2f2f2;
}

.comments-list .comment-body{
	margin-left: 120px;
}

.comments-list .comment-author{
	margin-bottom: 0;
}

.comments-list .comment-date{
	font-style: italic;
	color: #959595;
	margin-bottom: 20px;
}

.comments-list .comment-reply{
	text-transform: uppercase;
}

.comments-reply{
	list-style: none;
	margin: 0 0 0 70px;
}

.comments-form .btn.btn-primary{
	padding: 10px 20px;
}

.comments-form label{
	font-weight: normal;
	color: #959595;
}


/* Shop
================================================== */

/*-- Product listing --*/

/* Filter */
.shop-filters .form-control {
	width: auto;
	display: inline-block;
	float: right;
}

.shop-filters label {
	font-weight: 500;
	margin-top: 10px;
}

/* Product */
.shop-product .overlay-wrapper{
	position: relative;
}
.product-links{
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.shop-product .overlay-wrapper:hover .product-links{
	opacity: 1;
}
.product-links ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.product-links ul li.view a{
	right: 1px; 
	border-left: 1px solid #555;
}
.product-links ul li a:hover{
	background: #eb2c33;
}
.shop-section .product-links ul li a{
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	display: block;
	background: #212121;
	width: 50%;
	float: left;
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	padding:0;
}

.shop-product-info a{
	color: #323232;
}
.shop-product-info a:hover{
	color: #eb2c33;
}

.shop-product-info .product-price{
	font-size: 20px;
	font-weight: 500;
}

.shop-product-info h3.product-title{
	line-height: normal;
	margin: 0;
	font-weight: 700;
	font-size:18px !important;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{margin:0 !Important}
.shop-product-info .product-category, 
.shop-product-info .product-category a{
	color: #959595;
}


/*-- Product Item --*/

.product-slider{
	border: 1px solid #d7d7d7;
	padding: 10px 5px;
}
.product-slider .bx-wrapper{
	margin-left: 10px;
	margin-bottom: 30px;
}

.product-slider #bx-pager{
	margin-left: 5px;
}

.product-slider .bx-wrapper .bx-viewport{
	border: 0 !important;
}

h2.product-title{
	font-weight: 700;
}

h3.product-price{
	font-weight: 700;
}
.rating i{
	color: #eb2c33;
	font-size:16px;
}

.product-item-description{
	padding: 20px 0;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}

.qty {
	width: 50px;
	margin: 0 -5px;
	text-align: center;
	padding: 10px 5px;
	border: 1px solid #d7d7d7;
	color: #848494;
	font-size: 18px;
	border-radius: 0;
}

.product_meta span{
	display: block;
}

/*-- Product Item Tab--*/

.product-item-tab .tab-content{
	padding: 20px;
}

.media-list .media-object {
	max-width: 80px;
	height: auto;
}

.media-list li{
	position: relative;
}

.media-list .rating-date {
	margin-left: 20px;
	font-style: italic;
	font-size: 14px;
	color: #778899;
}

.rating-final {
	top: 0;
	right: 0;
	text-align: right;
	width: auto;
	line-height: 1;
	position: absolute;
}



/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.dropdown i.fa-caret-down{
		display: none;
	}
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {

	.dropdown i.fa-caret-down{
		display: none;
	}

	/* Navigation */
	.navbar-nav>li>a{
		padding: 21px 24px;
	}

	/* Slider */
	#main-slide .slider-content h2{
		font-size: 68px;
	}
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {

	.dropdown i.fa-caret-down{
		display: none;
	}

	/* Header */
	.navbar-nav>li>a{
		padding: 21px 12px;
	}

	.top-info{
		padding: 15px 0;
	}

	/* Slideshow */
	#main-slide .slider-content h2{
		font-size: 52px;
	}
	#main-slide .slider-content h3{
		font-size: 24px;
		margin-top: 12px;
	}

	.slider.btn{
		padding: 5px 25px;
		margin-top: 5px;
		font-size: 16px;
	}

	/* Service */
	.service-content:before,
	.service-content:after,
	.feature-content-wrapper:before,
	.feature-content-wrapper:after,
	.feature-wrapper:before,
	.feature-wrapper:after,
	.feature-image:after{
		position: relative;
	}

	.service-content{
		padding: 0;
	}

	.feature-content-wrapper h2{
		font-size: 24px;
	}

	.feature-box h3{
		line-height: normal;
		margin: 10px 0;
	}
	.feature-box .feature-icon{
		padding: 5px 0;
	}


	/* Portfolio */
	#portfolio-carousel .caption h4{
		font-size: 16px;
	}
	#portfolio-carousel .thumbnail 
	.caption .caption-content{
		bottom: 5px;
	}

	/* Accordion */
	#accordion{
		margin-top: 40px;
	}

	/* Testimonial */
	.testimonial-slide .testimonial-text{
		padding-left: 35px;
		padding-right: 35px;
	}

	/* Footer */
	#footer .col-md-3{
		margin-bottom: 30px;
	}

	h4.footer-title{
		padding-bottom: 0;
	}
	h4.footer-title:after{
		margin-top: 0;
	}
	.footer-bottom{
		padding-bottom: 30px;
	}

	.back-to-top {
		position: absolute;
		right: 0;
		margin-top: -67px;
	}
	.copyright-info{
		margin-top: 15px;
	}

	/* Innter title */
	.inner-title-content{
		margin-top: -50px;
		padding: 10px 30px;
	}


	/* About us page */
	.skills small{
		margin-bottom: 40px;
	}

	/* Pricing */
	.plan{
		margin-bottom: 30px;
	}


}
.navbar-nav i{margin-left:5px; margin-right:5px;}
.navbar-nav i.fa-caret-down {margin-right:0}
/* Small Devices Potrait */
@media (max-width : 767px){
	.page-team-wrapper{width:100%}
	/* Header */
	.top-info{
		display: none;
	}

	.navbar-toggle{
		margin-right: 0;
	}

	/* Navigation */

	.navbar-nav .dropdown-menu{
		opacity: 1;
		z-index:1;
		visibility:hidden;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	

	.navbar-nav .dropdown.open:hover .dropdown-menu,
	.navbar-nav .dropdown.open .dropdown-menu, 
	.dropdown-toggle.open .dropdown-menu{
		opacity: 1 !important;
		visibility:visible !important;
		display:block;
	}
	
	.navbar-nav .dropdown .dropdown-menu , .dropdown-toggle .dropdown-menu{
		opacity: 0;
		visibility:hidden;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	 }

	 .navbar-nav .open .dropdown-menu{
	 	background-color: #000;
	 	border-radius: 0;
	 	padding: 0;
	 }

	 .navbar-nav .open .dropdown-menu li{
	 	border-radius: 0;
	 }

	 ul.navbar-nav li.search{
	 	display: none;
	 }


	/* Slideshow */
	#main-slide .slider-content h2{
		font-size: 28px;
		line-height: normal;
		margin-bottom: 0;
	}
	#main-slide .slider-content h3{
		font-size: 14px;
		margin-top: 5px;
	}
	.slider.btn{
		padding: 0 15px;
		margin-top: 0;
		font-size: 12px;
	}
	#main-slide .carousel-indicators{
		display: none;
	}

	#newsletter .btn-lg{
		padding: 10px 18px;
	}

	/* Service */
	.service-content:before,
	.service-content:after,
	.feature-content-wrapper:before,
	.feature-content-wrapper:after,
	.feature-wrapper:before,
	.feature-wrapper:after,
	.feature-image:after{
		position: relative !Important;
	}
	
	.feature-content-wrapper h2{
		margin-top: 30px;
	}
	.flex-control-nav{display:none}
	.eemail_button input[type="button"]{ word-break: break-word; font-size:12px !important; height:45px; }
	.copyright-info{text-align:left}
	/* Portfolio */
	#portfolio-carousel .thumbnail{
		margin-bottom: 20px;
	}

	/* Accordion */
	#accordion{
		margin-top: 40px;
	}

	/* Testimonial */
	.testimonial-slide .testimonial-text{
		padding: 0 15px;
		font-size: 14px;
	}

	/* Footer */
	#footer .col-md-3{
		margin-bottom: 30px;
	}

	h4.footer-title{
		padding-bottom: 0;
	}
	h4.footer-title:after{
		margin-top: 0;
	}
	.footer-bottom{
		padding-bottom: 30px;
	}

	.back-to-top {
		position: absolute;
		right: 0;
		margin-top: -67px;
	}
	.copyright-info{
		margin-top: 15px;
		font-size: 14px;
		text-align:left;
	}

	.copyright-info span{
		display: block;
	}

	/* Innter title */
	.inner-title-content{
		margin-top: -50px;
		padding: 10px 30px;
	}

	.inner-title-content h2{
		font-size: 28px;
	}

	/* About us page */
	.skills small{
		margin-bottom: 40px;
	}

	h3.page-content-title{
		margin-top: 20px;
	}

	/* Pricing */
	.plan{
		margin-bottom: 30px;
	}

	/* Portfolio */
	#isotope .col-sm-3{
		width: 100%;
	}
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {
	section.imagepar .contact-info{position:relative; width:480px; max-width:auto; margin:0px auto; float:none; left:0; top:0}
	.home-sidebar{top:0 !important; background:#222}
	.eemail_caption:empty{display:none}
	.eemail_caption{padding-top:0; padding-bottom:0}
	.headcarousel .flex-direction-nav a{padding:0 !important; width:35px !important; height:35px !important}
	/* Header */
	.top-info{
		display: none;
	}

	/* Slideshow */
	#main-slide .item .slider-content{
		display: none;
	}

	/* Newsletter */
	#newsletter{
		display: none;
	}


	/* Portfolio */
	#portfolio-carousel .caption{
		padding: 10px 0;
	}
	#portfolio-carousel .thumbnail .caption .caption-content{
		bottom: 10px;
	}
	#portfolio-carousel .thumbnail .caption i.fa-link{
		margin-left: 3px;
	}
	#portfolio-carousel .caption h3{
		font-size: 17px;
		margin-bottom: 0;
		text-align: center;
	}
	#portfolio-carousel .caption p{
		text-align: center;
	}

	#portfolio-carousel .thumbnail .caption i{
		top: -10px;
	}

	#portfolio-page .image-thumb img{
		height: auto;
	}

	/* Recent Post */
	.recent-post .post-body h3{
		line-height: normal;
	}

	/* Inner title */

	.inner-title-content {
		margin-top: -30px;
		padding: 5px 30px;
	}

	/* Team */
	.team-carousel{
		padding-left: 15px;
	}

}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {


	/* Logo */
	.navbar-brand{
		width: 120px !important;
		background-size: contain !important;
	}

	/* Default title */
	h2.title{
		font-size: 20px;
	}

	/* Featured Tab */
	.featured-tab .nav-tabs>li>a{
		padding-left: 5px;
		padding-right: 5px;
	}
	.featured-tab .tab-info h3{
		font-size: 14px;
	}

	.featured-tab .tab-info p{
		font-size: 11px;
	}


	.featured-tab .tab-pane img.pull-left{
		margin-top: 15px;
	}

	/* Portfolio */
	#portfolio-carousel .caption h3{
		font-size: 14px;
		line-height: normal;
		margin-bottom: 5px;
		font-weight: 600;
	}
	#portfolio-carousel .caption p{
		font-size: 12px;
		line-height: normal;
	}

	/* Panel */
	h4.panel-title a.collapsed:after,
	h4.panel-title a:after{
		right: 0;
	}

	/* Action */
	#action h2{
		font-size: 28px;
	}

	.action.btn{
		padding: 8px 20px;
	}

	/* Copyright */
	.footer-bottom-menu{
		margin: 20px 0 0 0;
	}
	#back-to-top img{
		width: 75px !important;
		background-size: contain !important;
	}
	.scroll-up img{
		margin-top: 14px;
	}
}

/******************************************************/
a.navbar-brand{color: #fff;font-size: 30px;}
ul.navbar-nav > li.current-menu-parent>a{ background: #eb2c33;}
ul.breadcrumb li{font-size: 16px;color: #000;}
.topbar-sidebar span.topbar-title{display: none;}
.rightTop-sidebar .topbar-sidebar{float: right}
.leftTop-sidebar .topbar-sidebar{float: left}
.leftTop-sidebar .topbar-sidebar ul li:first-child{margin-left: 0;}
/***************Portfolio*****************/
#isotope-filter {
	margin-bottom: 40px;
}

#isotope-filter li a{
	color: #959595;
	font-size: 16px;
	font-weight: 400;
}
#isotope-filter li{padding: 0;}
#isotope-filter li a.active,
#isotope-filter li a:hover{
	color: #eb2c33;
}

#isotope-filter li a:before{
	content: "/";
	color: #959595;
	padding-right: 10px;
	padding-left: 10px;
}

#isotope-filter li:first-child a:before{
	content: " ";
}
.portfolio-item-content{
    position: absolute;
    bottom: 25px;
    width: 100%;
    left: 0;
}
.portfolio-item-title a{color:#ffffff;}
.portfolio-section #portfolio-carousel .thumbnail:hover .caption{
    top: 0%;
}
.portfolio-section #portfolio-carousel .thumbnail>img{width: 100%;}
/*************BLOG*************/
.blog-post.post-format-gallery .bx-wrapper, .media.recent-post .page-slider-wrapper .bx-wrapper{
    margin-bottom: 0;
}

/*blog onepager*/
.media.recent-post .full-video, .media.recent-post .page-slider-wrapper .bx-viewport, .media.recent-post .page-slider-wrapper .bx-viewport img{
    height: 186px;
}
.paging .pagination li a:hover{color: #fff;}
/****comments*******/
.comments-list ul.children{
	list-style: none;
	margin: 0 0 0 70px;
}


/************under counstruction**********/
.uc-wrapper{margin-bottom: -40px; padding: 50px 0; background:rgba(0,0,0,.9)}
.counter-block{ padding: 20px;color:#FFF; border:1px solid #ececec; text-align:center; font-size:64px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.counter-block span{ display:block; font-size:16px; border-top:1px solid #ececec; padding:10px 0; margin-top:20px; text-transform:uppercase;}
.uctitle, .uccontent{color: #ffffff}
.counter-block, .uc-header-wrapper{background:#eb2c33; border:none}
.uc-header-wrapper{padding:20px 0}
.clock {margin-top:50px; margin-bottom:50px}
/*****************theme widgets****************/
/*flickr*/
ul.flickr-list{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.flickr-list li {
    display: inline-block;
}
ul.flickr-list li a {
    display: inline-block;
}
.flickr-widget a img{
    margin: 0 10px 10px 0;
    display: inline-block;
    width: 72px;
    height: 77px;
    border-radius: 100%;
}

/****recent works**/
.widget_alc_works ul li{padding-bottom: 10px;}
.widget_alc_works .posts-thumb img{
    display: block;
    width: 70px;
    height: 65px;
    margin-right: 20px;
}
.widget_alc_works h4.entry-title {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 5px;
}
.widget_alc_works h4.entry-title a {
    color: #323232;
}
.widget_alc_works h4.entry-title a:hover{
    color:#eb2c33;
}
.widget_alc_works .post-meta span {
    font-style: italic;
    padding-right: 5px;
}

/**latets blog posts*/
.widget_alc_blogposts ul li{padding-bottom: 10px;}
.widget_alc_blogposts .posts-thumb img{
    display: block;
    width: 70px;
    height: 65px;
    margin-right: 20px;
}
.widget_alc_blogposts h4.entry-title {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 5px;
}
.widget_alc_blogposts h4.entry-title a {
    color: #323232;
}
.widget_alc_blogposts h4.entry-title a:hover{
    color:#eb2c33;
}
.widget_alc_blogposts.post-meta span {
    font-style: italic;
    padding-right: 5px;
}
.footer-widget ul.divider li a{padding-left: 25px;}
/*******3 IN 1***/
.footer-widget .widget-tab .nav-tabs>li>a{
    font-size: 12px;
}
/* Contact Us Widget */
.container.contact-widget-wrapper{max-width:100% !important;}
#contactFormWidget input[type="text"],
#contactFormWidget textarea {
  float: left;
  font-size: 0.846em;
  padding: 10px 2%;
  color: #778899;
  width: 98%;
  margin-bottom: 11px;
  border:solid 1px #ccc;
}
#wemail {margin-left:4px !Important}
#contactFormWidget .col-md-6, #contactFormWidget .col-md-12 {padding:0}

#contactFormWidget textarea {
  width: 100%;
  height: 80px;
  min-height: 80px;
  float:none;
}
#contactFormWidget input[type="submit"] {
  float: right;
  position: relative;
  margin: 0 2px 0 0;
  padding:10px;
}

#contactFormWidget input[type="submit"]:hover {
  opacity: 0.80;
  -moz-opacity: 0.80;
  filter:alpha(opacity=80);
}
.widgetinfo {color:#9dd55d; font-size:12px; text-transform:uppercase; font-weight: bold; margin-top:-24px}
.widgetinfo i{color:#9dd55d; margin-right:6px}
/****social widget*/

.social-top ul li{padding: 0 0 0 5px;}
.social-top ul li a span{
    font-size: 16px;
    color: #fff;
    margin-right: 0;
}
.social-top ul li a:hover span{
    color: #8c1b1e;
}
.social-footer li a{
    color: #949494;
    margin-right: 25px;
}
.social-footer li a:hover{color: #eb2c33;}
/**categories*/
.sidebar-widget ul, .footer-widget ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.widget_categories ul li, .footer-widget ul li.cat-item{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #d7d7d7;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    margin-left: 25px;
}
.widget_categories ul li:hover, .footer-widget ul li.cat-item:hover{
    padding-left: 10px;
}
.widget_categories ul li:before, .footer-widget ul li.cat-item:before{
    content: "\f111";
    color: #eb2c33;
    font-family: FontAwesome;
    font-size: 8px;
    line-height: 8px;
    border: 2px solid rgba(0, 0, 0,.1);
    border-radius: 100%;
    position: absolute;
    left: -25px;
    top: 5px;
}
.widget_categories ul li a, .footer-widget ul li.cat-item a{
    color: #323232;
    font-weight: 500;
}
.widget_categories ul li span.count, .footer-widget ul li.cat-item span.count{
    margin-left: 20px;
    font-size: 9px;
    background: #eb2c33;
    color: #fff;
    padding: 0;
    border-radius: 100%;
    font-weight: 700;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

/**tags**/
ul.wp-tag-cloud li{
    display: inline-block;
    margin: 6px;
}
ul.wp-tag-cloud li a{
    background: #f2f2f2;
    color: #6A6A6A;
    display: block;
    font-size: 14px !important;
    padding: 5px 8px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
ul.wp-tag-cloud li a:hover{
    background: #eb2c33;
    color: #fff;
}
.search-widget .btn.btn-primary{padding: 10px 15px;}
/*---calendar---*/
#wp-calendar{border:solid 1px #dfdfdf; width:100%}
#wp-calendar td {padding:8px; border-bottom:solid 1px #ededed}
#wp-calendar tbody td {border-left:solid 1px #ededed; text-align:center}
#wp-calendar th{padding:4px; background:#333; color:#fff; text-align:center}
#wp-calendar caption {background:#eb2c33; padding:4px; color:#fff}
/***************************************************/
/******************custom menu widget**********/
.sidebar .widget_nav_menu ul li{
    border: 1px solid #e7e7e7;
    margin-bottom: 1px;
}
.sidebar .widget_nav_menu li a{
    border-radius: 3px;
    font-weight: 500;
    color: #000;
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    position: relative;
    display: block;
    padding: 10px 15px;
}
.sidebar .widget_nav_menu li a:hover, .sidebar .widget_nav_menu li.current-menu-item a{
    color: #eb2c33;
}
/*******************************************/
.sidebar-widget img, .sidebar-widget select{
	max-width: 100%;
	height: auto;
}
/*******************Tables**********/
table{
	width: 100%;
	margin: 20px 0;
	text-align: center;
}
table th{
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-align: center;
    padding: 14px !important;
    background:  #eb2c33;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #dedede ;
}
table  th a {color:#fff}

table td{
    padding: 14px !important;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    line-height: 22px;
	vertical-align:middle !important;
    margin: 0 0 20px;
    margin: 0;
    background: #ffffff;
    border: 1px solid #dedede;
}
table tr:nth-child(2n+1) td {
background: #fcfcfc;
}
/**********************PAGE HEAD***********/
.pageHead{/*background: rgba(0, 0, 0, 0.7)*/}
.pageHead .slider-wrapper{margin-bottom: 100px;}
.pageHead .flex-video{margin-bottom: 93px;}
.pageHead .flex-video iframe{border: none; width: 100%}
/**slider**/
.headcarousel{position: relative;}
.headcarousel .flex-direction-nav a{
    position: absolute;
    top: 50%;
    width: 55px;
    height: 60px;
    opacity: 0.9;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 15px 20px;
}
.headcarousel .flex-direction-nav a:hover{
    color:#fff;
    background: #eb2c33;
    opacity: 1;
}
.headcarousel .flex-direction-nav a:before{
    content: '';
}
.headcarousel .flex-direction-nav .flex-prev{
    left: 0
}
.headcarousel .flex-direction-nav .flex-next{
    right: 0;
}
.headcarousel .flex-control-paging li a{
    width: 14px !important;
    height: 14px !important;
    border: 2px solid #fff !important;
    margin: 1px !important;
    border-radius: 10px;
}
.headcarousel .flex-control-paging li a.flex-active{
    background: #eb2c33;
}
.headcarousel .flex-control-nav{
    bottom: 70px;
}
.headcarousel ul.slides li{
    position: relative;
}
.headcarousel ul.slides li>img{
    width: 100%;
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
}
/*****************Woocommerce cart menu*************/
li.nav-single a.cart-contents{
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    outline: none;
    padding: 10px 20px;
    line-height: 42px;
}
li.nav-single a.cart-contents:hover{
    background-color: rgba(0,0,0,.9);
}

/*****************home sidebvar***********/
.home-sidebar{
    position: relative;
    top: -65px;
	z-index:9999
}
.eemail_textbox {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    width: 75%;
    float: left;
   
}
.eemail_textbox input[type="text"]{
    background: rgba(0,0,0,.55);
    border: 0;
    border-radius: 0;
    height: 45px;
    padding: 10px 20px;
    color: #959595;
    font-size: 14px;
    width: 100%;
}
.eemail_textbox input[type="text"]:focus{
    box-shadow: none;
    border: 1px solid #eb2c33 ;
    outline: none
}
.eemail_button{
    float: left;
	width:25%;
}
.eemail_button input[type="button"]{
    padding: 10px;
   font-weight: 300;
    border-radius: 0 2px 2px 0;
    background: #eb2c33;
    color: #fff;
    border: 1px solid transparent;
    font-size: 18px;
    line-height: 1.33;
    width: 100%;
}
.eemail_button input[type="button"]:hover{
    background: #000;
}
.eemail_button input[type="button"]:focus{
    outline: none;
}
/**************** Wp Default classes **********************/

.wp-caption{max-width:100%; height:auto}
.wp-caption-text{}
.sticky{border-bottom:double 5px #eb2c33; border-top:double 5px #eb2c33; padding-top:20px; padding-bottom:20px; }
.gallery-caption{}
.bypostauthor{}  
.commentsectionwrap {margin-top:20px}
.alignright {float: right; margin-left: 10px;}
.alignleft {float: left; margin-right: 10px;}
.aligncenter {margin:0px auto}
/*************One Pager***********/
/************onepager title*********/
.heading{
	max-width: 50%;
	border-bottom: 1px solid #cecece;
	margin: 0 auto 50px;
	padding-bottom: 15px;
	position: relative;
}
h2.onetitle{
	font-size: 36px;
	font-weight: 700;
	line-height: normal;
	margin-top: 0;
 }
.onesubtitle{
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

.heading:after{
	content: "";
	background: #eb2c33;
	width: 8px;
	height: 8px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	-moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, .09);
	z-index: 3;
}
section.imagepar{padding: 50px 0px; position: relative;}
section.imagepar.dart-homepage{padding-top:0px;}
section.imagepar.nopaddingbottom{padding-bottom: 0 !important;}
section.imagepar.nopaddingtop{padding-top: 0 !important}
section.imagepar .contact-info{
    position: relative;
    bottom: 0;
    z-index: 1;
    background: rgba(0,0,0,.8);
    color: #fff;
    padding: 30px 20px;
    max-width: 380px;
    text-align: left;
    height: 450px;
}
section.imagepar #contact-form{max-width: 824px; margin: 0 auto;}
.shop-section h1.page-title{display:none}
.product{width:100%;text-align:center; position:relative; margin:20px 0; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;  -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.woocommerce table.shop_table, .woocommerce-page table.shop_table{border:none !Important}

/*rating*/
.rating{unicode-bidi: bidi-override;  direction: rtl; cursor:pointer;}
.rating span{ cursor:pointer;}
.rating span.rating-star:before {content:"\f005"; color:#ffcc00;}
.rating > span:before {font-family:'FontAwesome'; content:"\f006"; color:#848494; display: inline-block;font-size:16px;}
.rating > span:hover:before, .rating > span:hover ~ span:before {content:"\f005"; color:#ffcc00;}
.rating:hover > span:before {content:"\f006"; color:#848494; display: inline-block;}
.rating:hover > span:hover:before, .rating > span:hover ~ span:before {content:"\f005"; color:#ffcc00;}

/*ribbons*/

.ribbon-wrapper {width: 85px;height: 88px;overflow: hidden; position: absolute; top: -3px; right: -3px; z-index:2}
.ribbon { font-size: 12px; font-weight:500;text-align: center; position: relative; padding: 7px 0; left: -5px; top: 15px; width: 120px; background-color: #848494; color: #fff;
 -webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg);  -ms-transform: rotate(45deg);  -o-transform: rotate(45deg);
 -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);}
.ribbon:before, .ribbon:after {content: ""; border-top:   3px solid #848494; border-left:  3px solid transparent; border-right: 3px solid transparent; position:absolute;
  bottom: -3px;}
.ribbon:before {left: 0;}
.ribbon:after { right: 0;}
.ribbon span { font-weight:700; font-size:14px; line-height:1;}


.shop-heading{ width:100%;}
.summary.entry-summary .star-rating{ float:left; width:100%; margin: 10px 0 !important;}
.woocommerce #content div.product div.images div.thumbnails, .woocommerce div.product div.images div.thumbnails, .woocommerce-page #content div.product div.images div.thumbnails, .woocommerce-page div.product div.images div.thumbnails { padding-bottom:1em;}
/* WooCommerce Price (Regular Price) */
.woocommerce div.product span.price del, .woocommerce div.product p.price del, .woocommerce #content div.product span.price del, .woocommerce #content div.product p.price del, .woocommerce-page div.product span.price del, .woocommerce-page div.product p.price del, .woocommerce-page #content div.product span.price del, .woocommerce-page #content div.product p.price del, .woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del, .product-price del, .woocommerce ul.cart_list li .quantity del, .woocommerce-page ul.cart_list li .quantity del, .woocommerce ul.product_list_widget li .quantity del, .woocommerce-page ul.product_list_widget li .quantity del {
color: inherit; font-size: 0.75em; text-decoration: line-through;}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li, .woocommerce-page ul.cart_list li, .woocommerce-page ul.product_list_widget li { padding-bottom:10px; border-bottom:1px solid #e5e5e5; margin-bottom:15px;}
.woocommerce ul.cart_list li:last-child, .woocommerce ul.product_list_widget li:last-child, .woocommerce-page ul.cart_list li:last-child, .woocommerce-page ul.product_list_widget li:last-child {border-bottom:none;}
.products-list { list-style:none; padding:0;}
.product_list_widget li .star-rating{ width:100%;}
.select-range{width: 100%; margin-bottom:20px;}

/* single product */
.single-product {}
.single-product .product-thumbnail{ padding:10px; border:1px solid #e5e5e5;}
.single-product .product-thumbnail .ribbon-wrapper {right: 12px;}
.single-product .summary .product-meta{ padding:0 0 10px; text-align:left;}
.single-product .product-description{ display:block; text-align:left;}
.woocommerce-review-link{color:#323232}
.cart-collaterals .cross-sells{display:none}
/* review */
.reviews{ list-style:none; padding-left:0;}
.reviews li{ margin-top:20px; padding-top:20px; border-top:1px solid #e5e5e5; float:left; width:100%;}
.reviews li:first-child{ margin-top:0; padding-top:0; border-top:none;}
.review-title{ font-size:18px; margin-bottom:10px;}
.review-meta { float:left; margin-right:20px;}
.review-author { float:left; margin-right:20px;}
.review-rating { float:left;}
.review-rating > span:before {font-family:'FontAwesome'; content:"\f006"; color:#848494; display: inline-block;font-size:16px;}
.review-rating span.rating-star:before {content:"\f005"; color:#ffcc00;}
.review-content { clear:both; float:left; width:100%; margin:10px 0;}

/* item increment */
.qty {width: 50px; margin:0 -5px; text-align: center; padding:10px 5px; border:1px solid #e5e5e5; color:#848494; font-size:18px;}
.qtyplus { margin:0 0 5px 0;}
.qtyminus {margin:0 0 5px 0;}
.add-to-cart{ margin-top:5px;}
.woocommerce .star-rating, .woocommerce-page .star-rating{float:none !important; margin:0px auto 10px auto !Important} 
.woocommerce .list-group-item .star-rating {float:right !important; margin:0 0 0 0 !Important}
.woocommerce .star-rating:before, .woocommerce-page .star-rating:before{color:#eb2c33 !important}
.star-rating span {color:#eb2c33 !important; font-weight:100}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img{box-shadow:none !Important; -moz-box-shadow:none !Important; -webkit-box-shadow:none !Important;}
.yith-wcwl-add-to-wishlist{margin-top:0 !important}
#add-items-ajax-loading {display:none !Important}
.yith-wcwl-add-to-wishlist .feedback {display:none !important}
.yith-wcwl-wishlistexistsbrowse.show{text-align:center}
.yith-wcwl-wishlistexistsbrowse.show a {padding:0; background:url('images/heart1.png'); width:16px; height:16px; display:inline-block; margin:18px 0 12px 0}

.woocommerce-pagination {margin:20px 0px}
.woocommerce-pagination ul li a, .woocommerce-pagination ul li span{	padding:10px 12px !Important;}
.woocommerce-pagination ul li span.current {border-color: #eb2c33 !important; background-color:#eb2c33 !important; color:#fff !important}
.woocommerce-pagination a.next,.woocommerce-pagination a.prev {padding:10px 8px !Important}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content{
	background:#f2f2f2 !Important;
	-webkit-border-radius:0 !important;
	border-radius:0 !important;
}
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal{height:0.65em !important}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce .button{
	background:#eb2c33 !Important; -webkit-box-shadow:none !important; -moz-box-shadow:none !important; box-shadow:none !important;
	-webkit-border-radius:0 !important; border-radius:0 !important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{
	border:none !Important; width:1.1em !Important; height:1.2em !Important
}
.price_slider_amount .price_label{font-size:14px !important}
.woocommerce .button {color:#fff !Important; text-shadow:none !Important; border:none !Important}
.price_slider_amount .button {font-weight:normal !important}


#searchform input[type="text"]{background:#f9f9f9; color:#848494; border:1px solid #e5e5e5; padding:6px 12px; font-size:14px; line-height:1.428571429; vertical-align:middle}
#searchform  .screen-reader-text {display:none}
.widget_product_search #searchsubmit{border:none; background:#eb2c33; color:#fff; padding:0.44em 0.99em}

.product-description {text-align:left; float:left; width:70%}
.product-description p {margin-left:10px}
.product-meta{overflow:hidden}

.single-product .product{text-align:left}
.single-product .product:hover{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none}
.single-product-description {margin-top:10px}

.woocommerce #content .quantity .minus, .woocommerce .quantity .minus, .woocommerce-page #content .quantity .minus, .woocommerce-page .quantity .minus,
.woocommerce #content .quantity .plus, .woocommerce .quantity .plus, .woocommerce-page #content .quantity .plus, .woocommerce-page .quantity .plus,
.woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty{
	bottom:auto !important; right:auto !Important; background:#f7f7f7 !Important; border-color:#e5e5e5 !important; margin:0 0 5px 0; padding:8px 18px 8px 14px !important;
border-radius:0 !Important; width:36px !important; height:36px !Important; position:relative !Important; display:inline-block !important; color:#848494 !important;
text-shadow:none !Important; -webkit-box-shadow:none !important; box-shadow:none !important; float:left !Important; border:solid 1px #e5e5e5 !important; font-weight:normal;
font-size:16px
}
.woocommerce #content .quantity .minus:hover, .woocommerce .quantity .minus:hover, .woocommerce-page #content .quantity .minus:hover, .woocommerce-page .quantity .minus:hover,
.woocommerce #content .quantity .plus:hover, .woocommerce .quantity .plus:hover, .woocommerce-page #content .quantity .plus:hover, .woocommerce-page .quantity .plus:hover{
	background:#ebebeb !Important; border-color:#adadad !important; color:#222 !important
}
.woocommerce #content .quantity input.qty, .woocommerce .quantity input.qty, .woocommerce-page #content .quantity input.qty, .woocommerce-page .quantity input.qty{
	padding:0 !Important; height:45px !important; width:44px !important; margin:-4px -1px 0 -1px; font-size:16px;  background:#fff !Important;
}

.single-product-share {margin-left:0; border-color:#eb2c33 !important}
.woocommerce #content .quantity, .woocommerce .quantity, .woocommerce-page #content .quantity, .woocommerce-page .quantity{width:116px !Important; overflow:visible !Important}
.quantity input[type=number]::-webkit-inner-spin-button, .quantity input[type=number]::-webkit-outer-spin-button {   -webkit-appearance: none; margin: 0; }
.cart button.button {padding:10px 18px !important; text-transform:uppercase; font-weight:500 !important}
.product .images {padding: 10px 10px 0 10px; border: 1px solid #e5e5e5;}
.summary  .clear {display:none}
.related-products div.item {width:100% !important}
.related-products {margin-top:30px}
.single-product .related-products .product-thumbnail{border:none; padding:0}
.related-products  .product-icons{display:none}
.single-product .images img {-webkit-box-shadow:none !important; box-shadow:none !important;}
.cart-table .quantity {margin-left:0 !important}
.td-remove .icon-wrapper { border-color:#eb2c33 !Important;}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{float:none !Important; width:100% !important}
.cart_totals .panel-body {padding:18px}

.chosen-container-single .chosen-single{border-radius:0 !important; color:#848494 !important; background:#f9f9f9 !Important; height:34px !important; line-height:1.428571429 !important; padding:8px 8px 6px 8px !important; box-shadow:none !important; border:1px solid #e5e5e5 !important}
.woocommerce form .form-row .input-text, .woocommerce-page form .form-row .input-text{height:34px; padding:6px 12px; font-size:14px; line-height:1.428571429; display:block; color:#848494; background:#f9f9f9; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border:1px solid #e5e5e5;}
.woocommerce form .form-row .input-text:focus, .woocommerce-page form .form-row .input-text:focus{ -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border:1px solid ;}
.woocommerce-checkout .form-row .chosen-container-single .chosen-single div b{background-position:0px 7px !Important}
#order_comments_field{padding:18px}
.shop_table, .woocommerce #payment, .woocommerce-page #payment, .woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-error, .woocommerce-page .woocommerce-info, .woocommerce-page .woocommerce-message{
	background:#f9f9f9 !important; box-shadow:none !Important; border-radius:0 !important
}
.shop_table{background:#fff !Important}
.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before, .woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-error:before{height:34px;}
#order_review_heading{font-size:24px; color:#fff; background:#323232; margin-bottom:0; padding:10px 15px}
.product-category .product-meta {height:auto}

.woocommerce #content nav.woocommerce-pagination ul li, .woocommerce nav.woocommerce-pagination ul li, .woocommerce-page #content nav.woocommerce-pagination ul li, .woocommerce-page nav.woocommerce-pagination ul li{
border:none !important; margin-left:6px !Important
}
.woocommerce #content nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul, .woocommerce-page #content nav.woocommerce-pagination ul, .woocommerce-page nav.woocommerce-pagination ul{border:none; margin-left:-6px !Important}
.woocommerce #content nav.woocommerce-pagination ul li a, .woocommerce #content nav.woocommerce-pagination ul li span, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span, .woocommerce-page #content nav.woocommerce-pagination ul li a, .woocommerce-page #content nav.woocommerce-pagination ul li span, .woocommerce-page nav.woocommerce-pagination ul li a, .woocommerce-page nav.woocommerce-pagination ul li span{border:solid 1px #ddd}

.shop-product .overlay-wrapper{
	position: relative;
}
.panel.cart_totals td, .panel.cart_totals th, .woocommerce table.shop_table td, .woocommerce-page table.shop_table td{border:none !Important; border-bottom:solid 1px #ccc !Important}
.product-categories , .product-categories ul{margin-left:20px !important; list-style:none}
.product-categories li{position:relative}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img{box-shadow:none !Important}
.bg-color-default{background-color:#323232}
#ship-to-different-address label {font-weight:700}
.fullsize.parallax-bg{
background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	-webkit-box-sizing: content-box!important;
	margin-left: -72%;
    padding:0px 36% !important;
    width: 172% !Important;
    position: relative;
    z-index: 0;
}
​.team-image-wrapper {display:block !important}
.gallery-item{display:inline-block}
.woocommerce-cart #inner-header, .woocommerce-checkout #inner-header{padding-top:250px !important} 
.text-white h2, .text-white h3, .text-white{color:#fff} 
.format-quote .entry-content{font-family:"Times New Roman"; font-style:italic; font-size:20px} 
.no-slider {min-height:300px; padding-top:200px; text-align:center}
.no-slider p.warning{}

p:empty{display:none;}
.nav .open>a, .nav .open>a:hover{background-color:#eb2c33}
nav .open>a:focus,  ul.navbar-nav li a:focus{background-color:initial }
ul.navbar-nav li.nav-single, ul.navbar-nav li.active > a, ul.navbar-nav > li.active.dropdown.open{background:#eb2c33}

@media screen and (max-width:768px){
	section.imagepar #contact-form {max-width: 100%; margin: 0 30px;}
	body .parallax-wrapper{background-repeat:repeat !important; background-size:initial !important; -webkit-background-size:initial !important}
}
.headcarousel.flexslider{border:none}

@media screen and (max-width:480px){
div.wpcf7{margin:0px 30px}

}
#main-slide.carousel li{margin-right:0}
#main-slide.carousel{box-shadow:none}
#main-slide .item .slider-content, .headcarousel ul.slides li .slider-content{opacity:1 !important}

.tp-caption.slidertitle,.slidertitle{font-size:78px;line-height:44px;font-weight:100;font-family:Raleway;color:rgb(255,255,255);text-decoration:none;background-color:transparent;border-width:0px;border-color:rgb(255,214,88);border-style:none}.tp-caption.slidersubtitle,.slidersubtitle{font-size:36px;line-height:36px;font-weight:300;font-family:Raleway;color:rgb(255,255,255);text-decoration:none;text-shadow:rgba(0,0,0,0.498039) 0px 2px 5px;margin:0px;white-space:nowrap;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}.tp-caption.sliderbtn,.sliderbtn{font-size:20px;line-height:20px;font-weight:400;font-family:Raleway;color:rgb(255,255,255);text-decoration:none;text-shadow:rgba(0,0,0,0.498039) 0px 2px 5px;margin:0px;white-space:nowrap;background-color:transparent;border-width:0px;border-color:rgb(255,255,255);border-style:none}

li.cart{position:relative}
.added_to_cart.wc-forward{position:absolute; top:-40px; left:0}

@media screen and (min-width : 960px) {
	section.imagepar .contact-info{position:absolute}
	#footer-wrapper{padding-top:0}
}
.comment-avatar.pull-left, .with-avatar>a img{float:none !Important}
p:empty{display:none;}
.tp-caption a.btn.btn-primary{
	color: #fff !important;
}

.pageHead .slider-wrapper{
	margin-bottom:0;
}
.home-sidebar{
	z-index: 100;
}

.tp-bullets {bottom:60px !important;}
span.count::first-letter{}
.comments-list img.comment-avatar{float:left !Important}